/* -------------------------------------------

	Name: 		App ollo
	Author:		"Miller Digital Design" Nazar Miller
    Support:    miller.themes@gmail.com
	   		   
--------------------------------------------- */

.preloader,
.download,
.video,
.stats,
.features .future h4 i,
header,
.theme-background,
.team-item,
.panel-heading,
.waves .circle,
.scrolled,
.blog-item,
.color,
.optimal,
.masc,
.header-masc,
.pagination .active a {
    background: linear-gradient(45deg, hsla(127, 80%, 32%, 1) 0%, hsla(127, 80%, 32%, 0) 70%),
    linear-gradient(135deg, hsla(174, 96%, 53%, 1) 10%, hsla(174, 96%, 53%, 0) 80%),
    linear-gradient(225deg, hsla(122, 93%, 41%, 1) 10%, hsla(122, 93%, 41%, 0) 80%),
    linear-gradient(315deg, hsla(165, 92%, 39%, 1) 100%, hsla(165, 92%, 39%, 0) 70%);
}

@media (max-width: 992px) {
    .navbar,
    .navbar-collapse {
        background: linear-gradient(45deg, hsla(127, 80%, 32%, 1) 0%, hsla(127, 80%, 32%, 0) 70%),
        linear-gradient(135deg, hsla(174, 96%, 53%, 1) 10%, hsla(174, 96%, 53%, 0) 80%),
        linear-gradient(225deg, hsla(122, 93%, 41%, 1) 10%, hsla(122, 93%, 41%, 0) 80%),
        linear-gradient(315deg, hsla(165, 92%, 39%, 1) 100%, hsla(165, 92%, 39%, 0) 70%);
    }
}

h4 .color {
    background-color: hsla(127, 80%, 32%, 1);
}

::-webkit-scrollbar-thumb {
    background: hsla(127, 80%, 32%, 1);
}

/*** transparent gradient ***/

.header-masc,
.masc {
    background: linear-gradient(45deg, hsla(127, 80%, 32%, .5) 0%, hsla(127, 80%, 32%, 0) 70%),
    linear-gradient(135deg, hsla(174, 96%, 53%, .5) 10%, hsla(174, 96%, 53%, 0) 80%),
    linear-gradient(225deg, hsla(122, 93%, 41%, .5) 10%, hsla(122, 93%, 41%, 0) 80%),
    linear-gradient(315deg, hsla(165, 92%, 39%, .5) 100%, hsla(165, 92%, 39%, 0) 70%);
}
