<ion-view title="Wallpapers" id="page10" class="nav1">
  <ion-content padding="false" class="has-header">

    <center><img style="width:40%; margin:10px;" src="https://onuniverse-assets.imgix.net/043646CB-A9DB-4D34-B339-654BD0EC46E1.jpg?w=1000&q=40&dpr=1"></img></center>

    <br>
    <div>
        <center><h1 style="border-bottom:solid;border-bottom-width:thin;border-bottom-color:black;width:100%;"></h1></center>
        <center><p style="font-family:arial;font-size:15px;color:black;">Premium Apple ID 1
        <br>
   Go to Our Twitter and ask for RT deal 
   Or wait For giveaways
       </p></center>
    <div>
        <center><h1 style="border-bottom:solid;border-bottom-width:thin;border-bottom-color:black;width:100%;"></h1></center>
        <center><p style="font-family:arial;font-size:15px;color:black;">Premium Apple ID 2
        <br>
  Go to Our Twitter and ask for RT deal 
  Or wait For giveaways
       </p></center>
    </div>
    <center><h1 style="border-bottom:solid;border-bottom-width:thin;border-bottom-color:black;width:100%;"></h1></center>

  </ion-content>
</ion-view>

 