<ion-view title="Bonus Apps" id="page9" class="nav1">
  <ion-content padding="false" class="has-header">

    <center><img style="width:70%; margin:10px;" src="https://onuniverse-assets.imgix.net/DC5A65DB-7869-4034-8C6D-32A2CE659F74.jpg?w=400&q=40&dpr=2"></img></center>
    
    <br>
    <center>
      <h1 style="font-family:arial;font-size:17px;color:black;margin;10px;">Games</h1>
    </center>

  <div>
  <center><h1 style="border-bottom:solid;border-bottom-width:thin;border-bottom-color:black;width:100%;"></h1></center>

 <div style="margin-bottom:30px;margin-left:10px;"  id="item">
    <a style="margin-left:15%;margin-top:20px;font-family:arial;font-size:15px;color:black;text-decoration:none;" href="https://itunes.apple.com/gb/app/r-play-remote-play-for-ps4/id1222889057?mt=8" >
      <img style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);height:80px; width:80px;border-radius:20%;" align="left" src="https://onuniverse-assets.imgix.net/52E55E1A-F82E-4059-9F4C-D3429684ABAB.jpg?w=200&q=40&dpr=2">R-play : Remote play for PS4</a>
      <p style="margin-left:35%;margin-top:20px;font-family:arial;font-size:12px;color:black;text-decoration:none;">2 WEEK FREE Trial</p>
     </div>
  <center><h1 style="border-bottom:solid;border-bottom-width:thin;border-bottom-color:black;width:90%;margin-left:10%;"></h1></center>
        <div style="margin-bottom:30px;margin-left:10px;"  id="item">
    <a style="margin-left:15%;margin-top:20px;font-family:arial;font-size:15px;color:black;text-decoration:none;" href="https://itunes.apple.com/gb/app/jurassic-world-alive/id1231085864?mt=8" >
      <img style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);height:80px; width:80px;border-radius:20%;" align="left" src="https://onuniverse-assets.imgix.net/EF7E189F-0CA6-4A29-9F8D-2FD7386C8B08.jpg?w=200&q=40&dpr=2">Jurassic World™ Alive</a>
      <p style="margin-left:35%;margin-top:20px;font-family:arial;font-size:12px;color:black;text-decoration:none;">Games</p>
      </div>
  <center><h1 style="border-bottom:solid;border-bottom-width:thin;border-bottom-color:black;width:90%;margin-left:10%;"></h1></center>
        <div style="margin-bottom:30px;margin-left:10px;"  id="item">
    <a style="margin-left:15%;margin-top:20px;font-family:arial;font-size:15px;color:black;text-decoration:none;" href="http://itunes.apple.com/us/app/super-rocketball-multiplayer/id1159661296?mt=8" >
      <img style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);height:80px; width:80px;border-radius:20%;" align="left" src="https://onuniverse-assets.imgix.net/070A21AD-9B29-4732-AF86-743280C80DF6.jpg?w=200&q=40&dpr=1">Super Rocket Ball</a>
      <p style="margin-left:35%;margin-top:20px;font-family:arial;font-size:12px;color:black;text-decoration:none;">Games</p>
  </div>
  <center><h1 style="border-bottom:solid;border-bottom-width:thin;border-bottom-color:black;width:90%;margin-left:10%;"></h1></center>
  <div style="margin-bottom:30px;margin-left:10px;"  id="item">
    <a style="margin-left:15%;margin-top:20px;font-family:arial;font-size:15px;color:black;text-decoration:none;" href="http://itunes.apple.com/gb/app/rick-and-morty-pocket-mortys/id992640880?mt=8" >
      <img style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);height:80px; width:80px;border-radius:20%;" align="left" src="https://onuniverse-assets.imgix.net/062FBFCD-50A0-4E5A-A0C1-964D6CAEF66A.jpg?w=200&q=40&dpr=1">Rick And Morty</a>
      <p style="margin-left:35%;margin-top:20px;font-family:arial;font-size:12px;color:black;text-decoration:none;">Games</p>
  </div>
  <center><h1 style="border-bottom:solid;border-bottom-width:thin;border-bottom-color:black;width:90%;margin-left:10%;"></h1></center>
  <div style="margin-bottom:30px;margin-left:10px;"  id="item">
  <a style="margin-left:15%;margin-top:20px;font-family:arial;font-size:15px;color:black;text-decoration:none;" href="http://itunes.apple.com/us/app/turbo-league/id1142610367?mt=8" >
    <img style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);height:80px; width:80px;border-radius:20%;" align="left" src="https://onuniverse-assets.imgix.net/6DE0D0F3-7B38-4261-85D7-C70C9CC6BDED.jpg?w=200&q=40&dpr=1">Turbo Leauge</a>
    <p style="margin-left:35%;margin-top:20px;font-family:arial;font-size:12px;color:black;text-decoration:none;">Games</p>
  </div>
  <center><h1 style="border-bottom:solid;border-bottom-width:thin;border-bottom-color:black;width:90%;margin-left:10%;"></h1></center>
  <div style="margin-bottom:30px;margin-left:10px;"  id="item">
  <a style="margin-left:15%;margin-top:20px;font-family:arial;font-size:15px;color:black;text-decoration:none;" href="http://itunes.apple.com/us/app/%E7%BB%BF%E5%AE%9D%E7%9F%B3%E5%A6%96%E6%80%AA-%E5%8F%A3%E8%A2%8B%E5%8E%86%E9%99%A9%E8%AE%B0/id1369738186?mt=8" >
    <img style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);height:80px; width:80px;border-radius:20%;" align="left" src="https://onuniverse-assets.imgix.net/B3E016A6-F5A3-4B92-B138-CA1B7781F793.jpg?w=200&q=40&dpr=1">Pokemon Emerald</a>
    <p style="margin-left:35%;margin-top:20px;font-family:arial;font-size:12px;color:black;text-decoration:none;">Emulator</p>
  </div>
  <center><h1 style="border-bottom:solid;border-bottom-width:thin;border-bottom-color:black;width:90%;margin-left:10%;"></h1></center>
  <div style="margin-bottom:30px;margin-left:10px;"  id="item">
  <a style="margin-left:15%;margin-top:20px;font-family:arial;font-size:15px;color:black;text-decoration:none;" href="http://itunes.apple.com/us/app/%E7%BA%A2%E5%AE%9D%E7%9F%B3%E5%A6%96%E6%80%AA-%E4%BD%A0%E7%9A%84%E5%8F%A3%E8%A2%8B%E6%B8%B8%E6%88%8F/id1326481124?mt=8" >
    <img style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);height:80px; width:80px;border-radius:20%;" align="left" src="https://onuniverse-assets.imgix.net/62C456CF-CE0E-4F6B-B9B2-548F450654BF.jpg?w=200&q=40&dpr=1">Pokemon Ruby</a>
    <p style="margin-left:35%;margin-top:20px;font-family:arial;font-size:12px;color:black;text-decoration:none;">Emulator</p>
  </div>
  <center><h1 style="border-bottom:solid;border-bottom-width:thin;border-bottom-color:black;width:90%;margin-left:10%;"></h1></center>
  <div style="margin-bottom:30px;margin-left:10px;"  id="item">
  <a style="margin-left:15%;margin-top:20px;font-family:arial;font-size:15px;color:black;text-decoration:none;" href="http://itunes.apple.com/us/app/tank-war-shooting-battle-games/id1299015362?mt=8" >
    <img style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);height:80px; width:80px;border-radius:20%;" align="left" src="https://onuniverse-assets.imgix.net/565BC008-070F-4708-B1C3-011D0B1BF74D.jpg?w=200&q=40&dpr=1">Tank War SNES</a>
    <p style="margin-left:35%;margin-top:20px;font-family:arial;font-size:12px;color:black;text-decoration:none;">Games</p>
  </div>
  <center><h1 style="border-bottom:solid;border-bottom-width:thin;border-bottom-color:black;width:90%;margin-left:10%;"></h1></center>
  <div style="margin-bottom:30px;margin-left:10px;"  id="item">
  <a style="margin-left:15%;margin-top:20px;font-family:arial;font-size:15px;color:black;text-decoration:none;" href="http://itunes.apple.com/us/app/fire-soul-cool-shooting-games/id1314264359?mt=8" >
    <img style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);height:80px; width:80px;border-radius:20%;" align="left" src="https://onuniverse-assets.imgix.net/D2398E28-6746-4F9E-82E4-ACE4C5FE3AD0.jpg?w=200&q=40&dpr=1">Fire Soul SNES</a>
    <p style="margin-left:35%;margin-top:20px;font-family:arial;font-size:12px;color:black;text-decoration:none;">Games</p>
  </div>
  <center><h1 style="border-bottom:solid;border-bottom-width:thin;border-bottom-color:black;width:90%;margin-left:10%;"></h1></center>
  <div style="margin-bottom:30px;margin-left:10px;"  id="item">
  <a style="margin-left:15%;margin-top:20px;font-family:arial;font-size:15px;color:black;text-decoration:none;" href="http://itunes.apple.com/us/app/tetris-classic-1989/id1331336744?mt=8" >
    <img style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);height:80px; width:80px;border-radius:20%;" align="left" src="https://onuniverse-assets.imgix.net/A86A9D4C-F534-4FC2-A925-F61800370525.jpg?w=200&q=40&dpr=1">Tetris Classic</a>
    <p style="margin-left:35%;margin-top:20px;font-family:arial;font-size:12px;color:black;text-decoration:none;">Games</p>
    </div>
  <center><h1 style="border-bottom:solid;border-bottom-width:thin;border-bottom-color:black;width:90%;margin-left:10%;"></h1></center>
  <div style="margin-bottom:30px;margin-left:10px;"  id="item">
  <a style="margin-left:15%;margin-top:20px;font-family:arial;font-size:15px;color:black;text-decoration:none;" href="http://itunes.apple.com/gb/app/%E7%99%BE%E6%88%98%E5%A4%A9%E8%99%AB-%E6%88%98%E4%BA%89/id1258717121?mt=8" >
    <img style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);height:80px; width:80px;border-radius:20%;" align="left" src="https://onuniverse-assets.imgix.net/AB38644E-87F7-47C2-8C8F-C387BB449A72.jpg?w=600&q=40&dpr=2">Worms 1994</a>
    <p style="margin-left:35%;margin-top:20px;font-family:arial;font-size:12px;color:black;text-decoration:none;">Games</p>
     </div>
  <center><h1 style="border-bottom:solid;border-bottom-width:thin;border-bottom-color:black;width:90%;margin-left:10%;"></h1></center>
  <div style="margin-bottom:30px;margin-left:10px;"  id="item">
  <a style="margin-left:15%;margin-top:20px;font-family:arial;font-size:15px;color:black;text-decoration:none;" href="http://itunes.apple.com/gb/app/%E5%8F%8C%E6%88%AA%E9%BE%99%E9%97%AF%E5%85%B3/id1260296153?mt=8" >
    <img style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);height:80px; width:80px;border-radius:20%;" align="left" src="https://onuniverse-assets.imgix.net/FDEF3EF0-6382-4004-9959-CFA16E9FC4CD.jpg?w=600&q=40&dpr=2">Double Dragon Emu</a>
    <p style="margin-left:35%;margin-top:20px;font-family:arial;font-size:12px;color:black;text-decoration:none;">Games</p>
    </div>
  <center><h1 style="border-bottom:solid;border-bottom-width:thin;border-bottom-color:black;width:90%;margin-left:10%;"></h1></center>
  <div style="margin-bottom:30px;margin-left:10px;"  id="item">
  <a style="margin-left:15%;margin-top:20px;font-family:arial;font-size:15px;color:black;text-decoration:none;" href="http://itunes.apple.com/gb/app/%E9%87%8D%E8%A3%85%E6%9C%BA%E5%85%B52/id1299540914?mt=8" >
    <img style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);height:80px; width:80px;border-radius:20%;" align="left" src="https://onuniverse-assets.imgix.net/D666E388-9B31-4B24-8B01-22F8F34FB0CF.jpg?w=600&q=40&dpr=2">Metal Max 2</a>
    <p style="margin-left:35%;margin-top:20px;font-family:arial;font-size:12px;color:black;text-decoration:none;">Games</p>
     </div>
  <center><h1 style="border-bottom:solid;border-bottom-width:thin;border-bottom-color:black;width:90%;margin-left:10%;"></h1></center>
  <div style="margin-bottom:30px;margin-left:10px;"  id="item">
  <a style="margin-left:15%;margin-top:20px;font-family:arial;font-size:15px;color:black;text-decoration:none;" href="http://itunes.apple.com/gb/app/%E7%8E%9B%E4%B8%BD%E5%85%AC%E4%B8%BB-%E8%B6%85%E7%BA%A7%E5%8E%86%E9%99%A9%E8%AE%B0/id1384283439?mt=8" >
    <img style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);height:80px; width:80px;border-radius:20%;" align="left" src="https://onuniverse-assets.imgix.net/9F80F4C5-CD1F-4C92-B9D0-F37FBC7569FA.jpg?w=600&q=40&dpr=2">Mario Copycat Game</a>
    <p style="margin-left:35%;margin-top:20px;font-family:arial;font-size:12px;color:black;text-decoration:none;">Games</p>
    </div>
  <center><h1 style="border-bottom:solid;border-bottom-width:thin;border-bottom-color:black;width:90%;margin-left:10%;"></h1></center>
  <div style="margin-bottom:30px;margin-left:10px;"  id="item">
  <a style="margin-left:15%;margin-top:20px;font-family:arial;font-size:15px;color:black;text-decoration:none;" href="http://itunes.apple.com/us/app/aemula-oldies-s/id490466764?mt=8" >
    <img style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);height:80px; width:80px;border-radius:20%;" align="left" src="https://onuniverse-assets.imgix.net/5031FFE7-6157-46EE-B373-E57FF5CB508F.jpg?w=600&q=40&dpr=2">Aemula Oldies S Dos Emulator</a>
    <p style="margin-left:35%;margin-top:20px;font-family:arial;font-size:12px;color:black;text-decoration:none;">Games</p>
    </div>
  <center><h1 style="border-bottom:solid;border-bottom-width:thin;border-bottom-color:black;width:90%;margin-left:10%;"></h1></center>
  <div style="margin-bottom:30px;margin-left:10px;"  id="item">
  <a style="margin-left:15%;margin-top:20px;font-family:arial;font-size:15px;color:black;text-decoration:none;" href="http://itunes.apple.com/us/app/%E8%8B%B1%E9%9B%84%E7%BE%A4%E4%BE%A0%E4%BC%A0/id1168952058?mt=8" >
    <img style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);height:80px; width:80px;border-radius:20%;" align="left" src="https://onuniverse-assets.imgix.net/B0512451-534E-40E2-9910-8FE4D11772AB.jpg?w=600&q=40&dpr=2">英雄群侠传</a>
    <p style="margin-left:35%;margin-top:20px;font-family:arial;font-size:12px;color:black;text-decoration:none;">Games</p>
    </div>
  <center><h1 style="border-bottom:solid;border-bottom-width:thin;border-bottom-color:black;width:90%;margin-left:10%;"></h1></center>
  <div style="margin-bottom:30px;margin-left:10px;"  id="item">
  <a style="margin-left:15%;margin-top:20px;font-family:arial;font-size:15px;color:black;text-decoration:none;" href="https://itunes.apple.com/gb/app/ms-pac-man-lite/id404073302?mt=8" >
    <img style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);height:80px; width:80px;border-radius:20%;" align="left" src="https://onuniverse-assets.imgix.net/D75C4236-643D-4B3E-9A7E-714B8152D7C5.jpg?w=200&q=40&dpr=2">MRs PAC-MAN</a>
    <p style="margin-left:35%;margin-top:20px;font-family:arial;font-size:12px;color:black;text-decoration:none;">Games</p>
    </div>
  <center><h1 style="border-bottom:solid;border-bottom-width:thin;border-bottom-color:black;width:90%;margin-left:10%;"></h1></center>
  <div style="margin-bottom:30px;margin-left:10px;"  id="item">
  <a style="margin-left:15%;margin-top:20px;font-family:arial;font-size:15px;color:black;text-decoration:none;" href="https://itunes.apple.com/gb/app/the-invaders/id779924681?mt=8" >
    <img style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);height:80px; width:80px;border-radius:20%;" align="left" src="https://onuniverse-assets.imgix.net/C73CA154-A174-49BD-A105-876503CE8EFB.jpg?w=200&q=40&dpr=2">The Invaders</a>
    <p style="margin-left:35%;margin-top:20px;font-family:arial;font-size:12px;color:black;text-decoration:none;">Games</p>
  </div>
  <center><h1 style="border-bottom:solid;border-bottom-width:thin;border-bottom-color:black;width:90%;margin-left:10%;"></h1></center>
  <div style="margin-bottom:30px;margin-left:10px;"  id="item">
  <a style="margin-left:15%;margin-top:20px;font-family:arial;font-size:15px;color:black;text-decoration:none;" href="https://itunes.apple.com/gb/app/pocket-pet-collect-battle/id1133978285?mt=8" >
    <img style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);height:80px; width:80px;border-radius:20%;" align="left" src="https://onuniverse-assets.imgix.net/7965AFE2-A8BE-41EB-84C1-0FD01311F40D.jpg?w=200&q=40&dpr=2">PocketPets - Pokémon Copycat</a>
    <p style="margin-left:35%;margin-top:20px;font-family:arial;font-size:12px;color:black;text-decoration:none;">Games</p>
    </div>
  <center><h1 style="border-bottom:solid;border-bottom-width:thin;border-bottom-color:black;width:90%;margin-left:10%;"></h1></center>
  <div style="margin-bottom:30px;margin-left:10px;"  id="item">
  <a style="margin-left:15%;margin-top:20px;font-family:arial;font-size:15px;color:black;text-decoration:none;" href="https://itunes.apple.com/us/app/%E5%83%8F%E7%B4%A0%E5%B9%BB%E6%83%B3%E5%A4%A7%E6%88%B0/id1369879203?mt=8" >
    <img style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);height:80px; width:80px;border-radius:20%;" align="left" src="https://onuniverse-assets.imgix.net/03F22DCE-5920-4D4C-846E-C9BAC51C5820.jpg?w=200&q=40&dpr=2">像素幻想大戰 - Pokémon Copycat</a>
    <p style="margin-left:35%;margin-top:20px;font-family:arial;font-size:12px;color:black;text-decoration:none;">Games</p>
    </div>
  <center><h1 style="border-bottom:solid;border-bottom-width:thin;border-bottom-color:black;width:90%;margin-left:10%;"></h1></center>
  <div style="margin-bottom:30px;margin-left:10px;"  id="item">
  <a style="margin-left:15%;margin-top:20px;font-family:arial;font-size:15px;color:black;text-decoration:none;" href="https://itunes.apple.com/ca/app/pac-man-maker/id1226981326?mt=8" >
    <img style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);height:80px; width:80px;border-radius:20%;" align="left" src="https://onuniverse-assets.imgix.net/ECAF0844-6689-46B9-B77A-ECAD6BC03151.jpg?w=200&q=40&dpr=2">Pac-Man Map Maker/Play</a>
    <p style="margin-left:35%;margin-top:20px;font-family:arial;font-size:12px;color:black;text-decoration:none;">Games</p>
    </div>
  <center><h1 style="border-bottom:solid;border-bottom-width:thin;border-bottom-color:black;width:90%;margin-left:10%;"></h1></center>
  <div style="margin-bottom:30px;margin-left:10px;"  id="item">
  <a style="margin-left:15%;margin-top:20px;font-family:arial;font-size:15px;color:black;text-decoration:none;" href="https://itunes.apple.com/ca/app/granny/id1323957120?mt=8" >
    <img style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);height:80px; width:80px;border-radius:20%;" align="left" src="https://onuniverse-assets.imgix.net/39B85426-34AA-4963-8D25-D83394872648.jpg?w=200&q=40&dpr=2">Granny - Horror Game</a>
    <p style="margin-left:35%;margin-top:20px;font-family:arial;font-size:12px;color:black;text-decoration:none;">Games</p>
    </div>
  <center><h1 style="border-bottom:solid;border-bottom-width:thin;border-bottom-color:black;width:90%;margin-left:10%;"></h1></center>
  <div style="margin-bottom:30px;margin-left:10px;"  id="item">
  <a style="margin-left:15%;margin-top:20px;font-family:arial;font-size:15px;color:black;text-decoration:none;" href="https://itunes.apple.com/ca/app/snake-97-retro-phone-classic/id438052745?mt=8" >
    <img style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);height:80px; width:80px;border-radius:20%;" align="left" src="https://onuniverse-assets.imgix.net/E50F100D-0B5B-4459-A786-90D1D272B0FB.jpg?w=200&q=40&dpr=2">Classic Snake</a>
    <p style="margin-left:35%;margin-top:20px;font-family:arial;font-size:12px;color:black;text-decoration:none;">Games</p>
    </div>
  <center><h1 style="border-bottom:solid;border-bottom-width:thin;border-bottom-color:black;width:90%;margin-left:10%;"></h1></center>
  <div style="margin-bottom:30px;margin-left:10px;"  id="item">
  <a style="margin-left:15%;margin-top:20px;font-family:arial;font-size:15px;color:black;text-decoration:none;" href="https://itunes.apple.com/gb/app/cupshoot/id1355332301?mt=8" >
    <img style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);height:80px; width:80px;border-radius:20%;" align="left" src="https://onuniverse-assets.imgix.net/E5223AF1-0865-401E-8AFE-20DA8B3C79EB.jpg?w=200&q=40&dpr=2">CupShoot - CupHeads</a>
    <p style="margin-left:35%;margin-top:20px;font-family:arial;font-size:12px;color:black;text-decoration:none;">Games</p>
   
    </div>
  <center><h1 style="border-bottom:solid;border-bottom-width:thin;border-bottom-color:black;width:100%;"></h1></center>
  <br>
    <center>
      <h1 style="font-family:arial;font-size:17px;color:black;margin;10px;">Everyday Apps</h1>
    </center>
    </div>
  <center><h1 style="border-bottom:solid;border-bottom-width:thin;border-bottom-color:black;width:90%;margin-left:10%;"></h1></center>
  <div style="margin-bottom:30px;margin-left:10px;"  id="item">
    <a style="margin-left:15%;margin-top:20px;font-family:arial;font-size:15px;color:black;text-decoration:none;" href="https://itunes.apple.com/ca/app/apowermirror-mirror-reflect/id1244625890?mt=8" >
      <img style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);height:80px; width:80px;border-radius:20%;" align="left" src="https://onuniverse-assets.imgix.net/C1219C3B-B002-4F08-AEBC-220F1B878C4D.jpg?w=200&q=40&dpr=2">ApowerMirror - Mirror iOS to iOS</a>
      <p style="margin-left:35%;margin-top:20px;font-family:arial;font-size:12px;color:black;text-decoration:none;">Everyday</p>
      </div>
  <center><h1 style="border-bottom:solid;border-bottom-width:thin;border-bottom-color:black;width:90%;margin-left:10%;"></h1></center>
  <div style="margin-bottom:30px;margin-left:10px;"  id="item">
  <a style="margin-left:15%;margin-top:20px;font-family:arial;font-size:15px;color:black;text-decoration:none;" href="https://itunes.apple.com/gb/app/tailor-screenshot-stitching/id926653095?mt=8" >
    <img style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);height:80px; width:80px;border-radius:20%;" align="left" src="https://onuniverse-assets.imgix.net/E734A894-1F94-4096-9D8A-EA3CE1537388.jpg?w=200&q=40&dpr=2">Tailor - ScreenShot Stitching</a>
    <p style="margin-left:35%;margin-top:20px;font-family:arial;font-size:12px;color:black;text-decoration:none;">Every Day</p>
    </div>
  <center><h1 style="border-bottom:solid;border-bottom-width:thin;border-bottom-color:black;width:90%;margin-left:10%;"></h1></center>
  <div style="margin-bottom:30px;margin-left:10px;"  id="item">
  <a style="margin-left:15%;margin-top:20px;font-family:arial;font-size:15px;color:black;text-decoration:none;" href="https://itunes.apple.com/gb/app/hokusai-audio-editor/id432079746?mt=8" >
    <img style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);height:80px; width:80px;border-radius:20%;" align="left" src="https://onuniverse-assets.imgix.net/3F899FB4-C030-446C-99F4-1D4F36864D60.jpg?w=200&q=40&dpr=2">Hokusai - Audio Editor</a>
    <p style="margin-left:35%;margin-top:20px;font-family:arial;font-size:12px;color:black;text-decoration:none;">Every Day</p>
    </div>
  <center><h1 style="border-bottom:solid;border-bottom-width:thin;border-bottom-color:black;width:90%;margin-left:10%;"></h1></center>
  <div style="margin-bottom:30px;margin-left:10px;"  id="item">
  <a style="margin-left:15%;margin-top:20px;font-family:arial;font-size:15px;color:black;text-decoration:none;" href="https://itunes.apple.com/gb/app/audagram-audio-editor-mp3-effect-filter-maker/id1231342477?mt=8" >
    <img style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);height:80px; width:80px;border-radius:20%;" align="left" src="https://onuniverse-assets.imgix.net/9E87B774-EC76-4008-9D73-F9A200EA3C5E.jpg?w=200&q=40&dpr=2">AudaGram - Audio Editor</a>
    <p style="margin-left:35%;margin-top:20px;font-family:arial;font-size:12px;color:black;text-decoration:none;">Every Day</p>
    </div>
  <center><h1 style="border-bottom:solid;border-bottom-width:thin;border-bottom-color:black;width:90%;margin-left:10%;"></h1></center>
  <div style="margin-bottom:30px;margin-left:10px;"  id="item">
  <a style="margin-left:15%;margin-top:20px;font-family:arial;font-size:15px;color:black;text-decoration:none;" href="https://itunes.apple.com/gb/app/ringtone-maker-for-iphone-ipad/id467309800?mt=8" >
    <img style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);height:80px; width:80px;border-radius:20%;" align="left" src="https://onuniverse-assets.imgix.net/91EA198A-3951-4E3A-B572-87AB10F0E806.jpg?w=200&q=40&dpr=2">Ringtone Maker - Working!</a>
    <p style="margin-left:35%;margin-top:20px;font-family:arial;font-size:12px;color:black;text-decoration:none;">Every Day</p>
    </div>
  <center><h1 style="border-bottom:solid;border-bottom-width:thin;border-bottom-color:black;width:90%;margin-left:10%;"></h1></center>
  <div style="margin-bottom:30px;margin-left:10px;"  id="item">
  <a style="margin-left:15%;margin-top:20px;font-family:arial;font-size:15px;color:black;text-decoration:none;" href="https://itunes.apple.com/us/app/supermoji-the-emoji-app/id1300364926?mt=8" >
    <img style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);height:80px; width:80px;border-radius:20%;" align="left" src="https://onuniverse-assets.imgix.net/FEB4F7EF-E02C-4663-A75C-5DB191D15D64.jpg?w=200&q=40&dpr=2">SuperMoji - @TechSavagePro</a>
    <p style="margin-left:35%;margin-top:20px;font-family:arial;font-size:12px;color:black;text-decoration:none;">Every Day</p>
    </div>
  <center><h1 style="border-bottom:solid;border-bottom-width:thin;border-bottom-color:black;width:90%;margin-left:10%;"></h1></center>
  <div style="margin-bottom:30px;margin-left:10px;"  id="item">
  <a style="margin-left:15%;margin-top:20px;font-family:arial;font-size:15px;color:black;text-decoration:none;" href="https://itunes.apple.com/us/app/audiobooks-hq-audio-books/id632306630?mt=8" >
    <img style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);height:80px; width:80px;border-radius:20%;" align="left" src="https://onuniverse-assets.imgix.net/E0713E37-694E-4D62-B083-FBD8A2ECB397.jpg?w=200&q=40&dpr=2">AudioBooks HQ</a>
    <p style="margin-left:35%;margin-top:20px;font-family:arial;font-size:12px;color:black;text-decoration:none;">Every Day</p>
    </div>
  <center><h1 style="border-bottom:solid;border-bottom-width:thin;border-bottom-color:black;width:90%;margin-left:10%;"></h1></center>
  <div style="margin-bottom:30px;margin-left:10px;"  id="item">
  <a style="margin-left:15%;margin-top:20px;font-family:arial;font-size:15px;color:black;text-decoration:none;" href="https://itunes.apple.com/us/app/cool-ringtones-ringtone-maker/id1258073348?mt=8" >
    <img style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);height:80px; width:80px;border-radius:20%;" align="left" src="https://onuniverse-assets.imgix.net/3129A96A-E49E-40F8-B6DE-B5E757B20985.jpg?w=200&q=40&dpr=2">CoolRingtones - Ringtone Maker</a>
    <p style="margin-left:35%;margin-top:20px;font-family:arial;font-size:12px;color:black;text-decoration:none;">Every Day</p>
    </div>
  <center><h1 style="border-bottom:solid;border-bottom-width:thin;border-bottom-color:black;width:90%;margin-left:10%;"></h1></center>
  <div style="margin-bottom:30px;margin-left:10px;"  id="item">
  <a style="margin-left:15%;margin-top:20px;font-family:arial;font-size:15px;color:black;text-decoration:none;" href="https://itunes.apple.com/gb/app/screenshot-maker-pro/id673545271?mt=8" >
    <img style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);height:80px; width:80px;border-radius:20%;" align="left" src="https://onuniverse-assets.imgix.net/A882866A-0613-423F-AD5C-332A3D982552.jpg?w=200&q=40&dpr=2">ScreenShotMakerPro - @HeyitskPan1c</a>
    <p style="margin-left:35%;margin-top:20px;font-family:arial;font-size:12px;color:black;text-decoration:none;">Every Day</p>
    </div>
  <center><h1 style="border-bottom:solid;border-bottom-width:thin;border-bottom-color:black;width:90%;margin-left:10%;"></h1></center>
  <div style="margin-bottom:30px;margin-left:10px;"  id="item">
  <a style="margin-left:15%;margin-top:20px;font-family:arial;font-size:15px;color:black;text-decoration:none;" href="https://itunes.apple.com/gb/app/absorbed-music-visualizer/id1084183969?mt=8" >
    <img style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);height:80px; width:80px;border-radius:20%;" align="left" src="https://onuniverse-assets.imgix.net/357DF3C0-6581-4224-92DE-1464F1706321.jpg?w=200&q=40&dpr=2">Absorbed - MusicVisualiser</a>
    <p style="margin-left:35%;margin-top:20px;font-family:arial;font-size:12px;color:black;text-decoration:none;">Every Day</p>
    </div>
  <center><h1 style="border-bottom:solid;border-bottom-width:thin;border-bottom-color:black;width:90%;margin-left:10%;"></h1></center>
  <div style="margin-bottom:30px;margin-left:10px;"  id="item">
  <a style="margin-left:15%;margin-top:20px;font-family:arial;font-size:15px;color:black;text-decoration:none;" href="https://itunes.apple.com/gb/app/gravitarium/id741646894?mt=8" >
    <img style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);height:80px; width:80px;border-radius:20%;" align="left" src="https://onuniverse-assets.imgix.net/72DE102C-DAC3-48F6-84CF-B16759D85DCA.jpg?w=200&q=40&dpr=2">Gravitarium - MusicVisualiser</a>
    <p style="margin-left:35%;margin-top:20px;font-family:arial;font-size:12px;color:black;text-decoration:none;">Every Day</p>
    </div>
  <center><h1 style="border-bottom:solid;border-bottom-width:thin;border-bottom-color:black;width:90%;margin-left:10%;"></h1></center>
  <div style="margin-bottom:30px;margin-left:10px;"  id="item">
  <a style="margin-left:15%;margin-top:20px;font-family:arial;font-size:15px;color:black;text-decoration:none;" href="https://itunes.apple.com/gb/app/white-cliffs-vr-music-visualizer/id1141682855?mt=8" >
    <img style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);height:80px; width:80px;border-radius:20%;" align="left" src="https://onuniverse-assets.imgix.net/152DFB62-B452-45AF-A190-976428DE214E.jpg?w=200&q=40&dpr=2">WhiteCliffs VR - MusicVisualiser</a>
    <p style="margin-left:35%;margin-top:20px;font-family:arial;font-size:12px;color:black;text-decoration:none;">Every Day</p>
    </div>
  <center><h1 style="border-bottom:solid;border-bottom-width:thin;border-bottom-color:black;width:90%;margin-left:10%;"></h1></center>
  <div style="margin-bottom:30px;margin-left:10px;"  id="item">
  <a style="margin-left:15%;margin-top:20px;font-family:arial;font-size:15px;color:black;text-decoration:none;" href="https://itunes.apple.com/gb/app/caros-powerful-dashboard/id1327572153?mt=8" >
    <img style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);height:80px; width:80px;border-radius:20%;" align="left" src="https://onuniverse-assets.imgix.net/A87AC4DB-AD91-427A-BF20-AB342365CBF4.jpg?w=200&q=40&dpr=2">CarOS® — Powerful dashboard by Studio290</a>
    <p style="margin-left:35%;margin-top:20px;font-family:arial;font-size:12px;color:black;text-decoration:none;">Every Day</p>
  </div>
  <center><h1 style="border-bottom:solid;border-bottom-width:thin;border-bottom-color:black;width:100%;"></h1></center>
  </div>

  </ion-content>
</ion-view>
