<ion-view title="Credits" id="page13" class="nav1">
  <ion-content padding="false" class="has-header">

    <div>
      <center><h1 style="border-bottom:solid;border-bottom-width:thin;border-bottom-color:Black;width:100%;"></h1></center>
      <center><img style="width:60%; margin:10px;" src="https://onuniverse-assets.imgix.net/42A6617E-80EF-4F35-A7DA-71F6E62D1607.jpg?w=400&q=40&dpr=1"></img></center>
      <div style="margin-bottom:30px;margin-left:10px;"  id="item">
        <a style="margin-left:15%;margin-top:20px;font-family:arial;font-size:15px;color:Black;text-decoration:none;" href="https://twitter.com/GaM3ChangeRs" >
          <img style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);height:80px; width:80px;border-radius:20%;" align="left" src="https://onuniverse-assets.imgix.net/42A6617E-80EF-4F35-A7DA-71F6E62D1607.jpg?w=400&q=40&dpr=1">GaM3ChangeRs</a>
          <p style="margin-left:35%;margin-top:20px;font-family:arial;font-size:12px;color:Black;text-decoration:none;">Follow Me</p>
      </div>
      <center><iframe height="80px" width="300px" frameborder="0" src="https://akshatmittal.com/youtube-realtime/embed/#!/UC26bIyC0eDhEaqoeHFBnQQw" style="border: 0; border-radius:10px;width:300px; height:80px; background-color: #FFF;"></iframe></center>
      <br>
      <center><h1 style="border-bottom:solid;border-bottom-width:thin;border-bottom-color:Black;width:100%;"></h1></center>
    </div>
    <br>
    <div >
    <center><h1 style="border-bottom:solid;border-bottom-width:thin;border-bottom-color:Black;width:100%;"></h1></center>
    <center><img style="width:60%; margin:10px;border-radius:50%;" src="https://onuniverse-assets.imgix.net/20CE7498-098D-43E4-961F-EEE2FCDF1E36.jpg?w=400&q=40&dpr=1"></img></center>
    <div style="margin-bottom:30px;margin-left:10px;"  id="item">
    <a style="margin-left:15%;margin-top:20px;font-family:arial;font-size:15px;color:Black;text-decoration:none;" href="https://twitter.com/TechnoTrend0" >
      <img style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);height:80px; width:80px;border-radius:50%;" align="left" src="https://onuniverse-assets.imgix.net/20CE7498-098D-43E4-961F-EEE2FCDF1E36.jpg?w=400&q=40&dpr=1">TechnoTrend</a>
      <p style="margin-left:35%;margin-top:20px;font-family:arial;font-size:12px;color:Black;text-decoration:none;">Follow Me</p>
    </div>
    <center><iframe height="80px" width="300px" frameborder="0" src="https://akshatmittal.com/youtube-realtime/embed/#!/UCemiqTPgr4fUv5CdH1R1ISw" style="border: 0; width:300px; border-radius:10px;height:80px; background-color: #FFF;"></iframe></center>
    <br>
    <center><h1 style="border-bottom:solid;border-bottom-width:thin;border-bottom-color:Black;width:100%;"></h1></center>
    </div>
    <br>
    <div >
    <center><h1 style="border-bottom:solid;border-bottom-width:thin;border-bottom-color:Black;width:100%;"></h1></center>
    <center><img style="width:60%; margin:10px;border-radius:50%;" src="https://onuniverse-assets.imgix.net/9199E4F3-5ACD-4A53-B78D-AD4E82D38DB3.jpg?w=400&q=40&dpr=1"></img></center>
    <div style="margin-bottom:30px;margin-left:10px;"  id="item">
    <a style="margin-left:15%;margin-top:20px;font-family:arial;font-size:15px;color:Black;text-decoration:none;" href="https://twitter.com/MR__R__" >
      <img style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);height:80px; width:80px;border-radius:50%;" align="left" src="https://onuniverse-assets.imgix.net/9199E4F3-5ACD-4A53-B78D-AD4E82D38DB3.jpg?w=400&q=40&dpr=1">Mr R</a>
      <p style="margin-left:35%;margin-top:20px;font-family:arial;font-size:12px;color:Black;text-decoration:none;">Follow Me</p>
    </div>
    <center><iframe height="80px" width="300px" frameborder="0" src="https://akshatmittal.com/youtube-realtime/embed/#!/UCMI1LAcTh9dwB742NvP4HDA" style="border: 0; width:300px; height:80px; border-radius:10px; background-color: #FFF;"></iframe></center>
    <br>
    <center><h1 style="border-bottom:solid;border-bottom-width:thin;border-bottom-color:Black;width:100%;"></h1></center>
    </div>
    <br>
    <div >
    <center><h1 style="border-bottom:solid;border-bottom-width:thin;border-bottom-color:Black;width:100%;"></h1></center>
    <center><img style="width:60%; margin:10px;border-radius:50%;" src="https://onuniverse-assets.imgix.net/3C619019-D35A-4B7D-A95F-1405F1FF3B46.jpg?q=75&dpr=1"></img></center>
    <div style="margin-bottom:30px;margin-left:10px;"  id="item">
    <a style="margin-left:15%;margin-top:20px;font-family:arial;font-size:15px;color:Black;text-decoration:none;" href="https://twitter.com/caspyt" >
      <img style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);height:80px; width:80px;border-radius:50%;" align="left" src="https://onuniverse-assets.imgix.net/3C619019-D35A-4B7D-A95F-1405F1FF3B46.jpg?q=75&dpr=1">Casp</a>
      <p style="margin-left:35%;margin-top:20px;font-family:arial;font-size:12px;color:Black;text-decoration:none;">Follow Me</p>
    </div>
    <center><iframe height="80px" width="300px" frameborder="0" src="https://akshatmittal.com/youtube-realtime/embed/#!/UCAkPsL-Nf1NjfLpwlbqyO8g" style="border: 0; width:300px; border-radius:10px;height:80px; background-color: #FFF;"></iframe></center>
    <br>
    <center><h1 style="border-bottom:solid;border-bottom-width:thin;border-bottom-color:lightgrey;width:100%;"></h1></center>
    </div>

  </ion-content>
</ion-view>
