<ion-view title="Home" id="page2" class="nav1">
  <ion-content padding="false" class="has-header">

    <center><img style="width:40%; margin:10px;" src="https://onuniverse-assets.imgix.net/2E15381E-3558-460F-8DD9-1692DC34A98B.jpg?w=600&q=40&dpr=2"></img></center>

    <br>
    <div>
        <center><h1 style="border-bottom:solid;border-bottom-width:thin;border-bottom-color:black;width:100%;"></h1></center>
        <center><p style="font-family:arial;font-size:15px;color:black;">Here we work hard to discover and bring all the best and greatest 
        hidden appstore apps for iOS to One place
    Now made by 
    <center><p style="font-family:arial;font-size:15px;color:black;">@GaM3ChangeRs,@MR_R_,
    <center><p style="font-family:arial;font-size:15px;color:black;">@Allitalkistech & @TechVideoApple </p></center>
        <center><h1 style="border-bottom:solid;border-bottom-width:thin;border-bottom-color:black;width:100%;"></h1></center>
    </div>
    <br>
    <center>
      <h1 style="font-family:arial;font-size:17px;color:black;margin;10px;">Main Team</h1>
    </center>
    <div>
      <div>
        <center><h1 style="border-bottom:solid;border-bottom-width:thin;border-bottom-color:black;width:100%;"></h1></center>

        <div style="margin-bottom:30px;margin-left:10px;"  id="item">
          <a style="margin-left:15%;margin-top:20px;font-family:arial;font-size:15px;color:black;text-decoration:none;" href="http://www.paypal.me/GaM3ChangeRs" >
            <img style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);height:80px; width:80px;border-radius:50%;" align="left" src="https://onuniverse-assets.imgix.net/F34FE9E1-17D5-4587-9F4A-FD5B92C314B4.jpg?w=200&q=40&dpr=2">Donate To Appscovery</a>
            <p style="margin-left:35%;margin-top:20px;font-family:arial;font-size:12px;color:black;text-decoration:none;">Donate for Premium Apple ID's</p>
            </div>
        <center><h1 style="border-bottom:solid;border-bottom-width:thin;border-bottom-color:black;width:90%;margin-left:10%;"></h1></center>
        <div style="margin-bottom:30px;margin-left:10px;"  id="item">
          <a style="margin-left:15%;margin-top:20px;font-family:arial;font-size:15px;color:black;text-decoration:none;" href="https://twitter.com/GaM3ChangeRs" >
            <img style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);height:80px; width:80px;border-radius:50%;" align="left" src="https://onuniverse-assets.imgix.net/42A6617E-80EF-4F35-A7DA-71F6E62D1607.jpg?w=400&q=40&dpr=1">GaM3ChangeRs</a>
            <p style="margin-left:35%;margin-top:20px;font-family:arial;font-size:12px;color:black;text-decoration:none;">Follow Me</p>
        </div>
        <center><h1 style="border-bottom:solid;border-bottom-width:thin;border-bottom-color:black;width:90%;margin-left:10%;"></h1></center>
        <div style="margin-bottom:30px;margin-left:10px;"  id="item">
          <a style="margin-left:15%;margin-top:20px;font-family:arial;font-size:15px;color:black;text-decoration:none;" href="https://twitter.com/MR__R__" >
            <img style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);height:80px; width:80px;border-radius:50%;" align="left" src="https://onuniverse-assets.imgix.net/6933E621-2121-4713-86C5-51C4898661CB.jpg?w=400&q=40&dpr=1">Mr R</a>
            <p style="margin-left:35%;margin-top:20px;font-family:arial;font-size:12px;color:black;text-decoration:none;">Follow Me</p>
          </div>
        <center><h1 style="border-bottom:solid;border-bottom-width:thin;border-bottom-color:black;width:90%;margin-left:10%;"></h1></center>
        <div style="margin-bottom:30px;margin-left:10px;"  id="item">
          <a style="margin-left:15%;margin-top:20px;font-family:arial;font-size:15px;color:black;text-decoration:none;" href="https://twitter.com/allitalkistech" >
            <img style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);height:80px; width:80px;border-radius:50%;" align="left" src="https://onuniverse-assets.imgix.net/E6685EC3-A5E3-4F69-B87D-2D22D3046D61.jpg?w=400&q=40&dpr=1">All I Talk Is Tech</a>
            <p style="margin-left:35%;margin-top:20px;font-family:arial;font-size:12px;color:black;text-decoration:none;">Follow Me</p>
            </div>
        <center><h1 style="border-bottom:solid;border-bottom-width:thin;border-bottom-color:black;width:90%;margin-left:10%;"></h1></center>
        <div style="margin-bottom:30px;margin-left:10px;"  id="item">
          <a style="margin-left:15%;margin-top:20px;font-family:arial;font-size:15px;color:black;text-decoration:none;" href="https://twitter.com/Techvideoapple" >
            <img style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);height:80px; width:80px;border-radius:50%;" align="left" src="https://onuniverse-assets.imgix.net/92A04AFD-069C-41B7-9D99-65456C7A07E3.jpg?w=400&q=40&dpr=1">AppleTechVideo</a>
            <p style="margin-left:35%;margin-top:20px;font-family:arial;font-size:12px;color:black;text-decoration:none;">Follow Me</p>
           </div>
         <center><h1 style="border-bottom:solid;border-bottom-width:thin;border-bottom-color:black;width:90%;margin-left:10%;"></h1></center>
        </div>
        <br>
    <center>
      <h1 style="font-family:arial;font-size:17px;color:black;margin;10px;">SubTeam</h1>
            </div>
        <center><h1 style="border-bottom:solid;border-bottom-width:thin;border-bottom-color:black;width:90%;margin-left:10%;"></h1></center>
        <div style="margin-bottom:30px;margin-left:10px;"  id="item">
          <a style="margin-left:15%;margin-top:20px;font-family:arial;font-size:15px;color:black;text-decoration:none;" href="https://twitter.com/iAppleTuber" >
            <img style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);height:80px; width:80px;border-radius:50%;" align="left" src="https://onuniverse-assets.imgix.net/7D6E7ACC-6767-4DC1-BE9F-F612E21DEBD9.jpg?w=200&q=40&dpr=2">iAppleTuber</a>
            <p style="margin-left:35%;margin-top:20px;font-family:arial;font-size:12px;color:black;text-decoration:none;">Follow Me</p>
            </div>
        <center><h1 style="border-bottom:solid;border-bottom-width:thin;border-bottom-color:black;width:90%;margin-left:10%;"></h1></center>
        <div style="margin-bottom:30px;margin-left:10px;"  id="item">
          <a style="margin-left:15%;margin-top:20px;font-family:arial;font-size:15px;color:black;text-decoration:none;" href="https://twitter.com/TechSavagePro" >
            <img style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);height:80px; width:80px;border-radius:50%;" align="left" src="https://onuniverse-assets.imgix.net/61BA26A0-AE77-4846-B104-1CE4FFAB3A67.jpg?w=400&q=40&dpr=2">TechSavagePro</a>
            <p style="margin-left:35%;margin-top:20px;font-family:arial;font-size:12px;color:black;text-decoration:none;">Follow Me</p>
            </div>
        <center><h1 style="border-bottom:solid;border-bottom-width:thin;border-bottom-color:black;width:90%;margin-left:10%;"></h1></center>
            </div>
           </div>
    <br>
    <center>
      <h1 style="font-family:arial;font-size:17px;color:black;margin;10px;">Developers</h1>
    </center>
            <center><h1 style="border-bottom:solid;border-bottom-width:thin;border-bottom-color:black;width:90%;margin-left:10%;"></h1></center>
        <div style="margin-bottom:30px;margin-left:10px;"  id="item">
          <a style="margin-left:15%;margin-top:20px;font-family:arial;font-size:15px;color:black;text-decoration:none;" href="https://youtube.com/c/casp9v" >
            <img style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);height:80px; width:80px;border-radius:50%;" align="left" src="https://onuniverse-assets.imgix.net/3C619019-D35A-4B7D-A95F-1405F1FF3B46.jpg?w=200&q=40&dpr=1">Casp</a>
            <p style="margin-left:35%;margin-top:20px;font-family:arial;font-size:12px;color:black;text-decoration:none;">Follow Me</p>
            </div>
        <center><h1 style="border-bottom:solid;border-bottom-width:thin;border-bottom-color:black;width:90%;margin-left:10%;"></h1></center>
        <div style="margin-bottom:30px;margin-left:10px;"  id="item">
          <a style="margin-left:15%;margin-top:20px;font-family:arial;font-size:15px;color:black;text-decoration:none;" href="https://twitter.com/GaM3ChangeRs" >
            <img style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);height:80px; width:80px;border-radius:50%;" align="left" src="https://onuniverse-assets.imgix.net/42A6617E-80EF-4F35-A7DA-71F6E62D1607.jpg?w=400&q=40&dpr=1">GaM3ChangeRs</a>
            <p style="margin-left:35%;margin-top:20px;font-family:arial;font-size:12px;color:black;text-decoration:none;">Follow Me</p>
              </div>
              <center><h1 style="border-bottom:solid;border-bottom-width:thin;border-bottom-color:black;width:100%;"></h1></center>
    </div>

  </ion-content>
</ion-view>
