<ion-view title="Movies/TV" id="page3" class="nav1">
  <ion-content padding="false" class="has-header">

    <center><img style="width:60%; margin:10px;" src="https://onuniverse-assets.imgix.net/BAC5EA31-BCF4-4772-BC23-98DDDDCC5F56.jpg?w=600&q=40&dpr=2"></img></center>

    <br>

    <div >
    <center><h1 style="border-bottom:solid;border-bottom-width:thin;border-bottom-color:Black;width:100%;"></h1></center>

    <div style="margin-bottom:30px;margin-left:10px;"  id="item">
    <a style="margin-left:15%;margin-top:20px;font-family:arial;font-size:15px;color:Black;text-decoration:none;" href="http://itunes.apple.com/us/app/hdx/id1265170244?mt=8" >
      <img style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);height:80px; width:80px;border-radius:20%;" align="left" src="https://onuniverse-assets.imgix.net/8DCCC713-26C3-4E45-BDD6-5712FE7AABD3.jpg?w=200&q=40&dpr=1">HDX</a>
      <p style="margin-left:35%;margin-top:20px;font-family:arial;font-size:12px;color:Black;text-decoration:none;">Movies/TV</p>
    </div>
    <center><h1 style="border-bottom:solid;border-bottom-width:thin;border-bottom-color:Black;width:90%;margin-left:10%;"></h1></center>
    <div style="margin-bottom:30px;margin-left:10px;"  id="item">
    <a style="margin-left:15%;margin-top:20px;font-family:arial;font-size:15px;color:Black;text-decoration:none;" href="http://itunes.apple.com/us/app/fmovies-movies-tv-series/id1356151002?mt=8" >
      <img style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);height:80px; width:80px;border-radius:20%;" align="left" src="https://onuniverse-assets.imgix.net/63FAF5DD-E3B0-49C8-B5AA-93A11D0125FC.jpg?w=200&q=40&dpr=1">FMovies</a>
      <p style="margin-left:35%;margin-top:20px;font-family:arial;font-size:12px;color:Black;text-decoration:none;">Movies/TV</p>
    </div>
    <center><h1 style="border-bottom:solid;border-bottom-width:thin;border-bottom-color:Black;width:90%;margin-left:10%;"></h1></center>
    <div style="margin-bottom:30px;margin-left:10px;"  id="item">
    <a style="margin-left:15%;margin-top:20px;font-family:arial;font-size:15px;color:Black;text-decoration:none;" href="http://itunes.apple.com/us/app/phim-moi-best-search-for-movies-box-films-tube/id1203650902?mt=8" >
      <img style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);height:80px; width:80px;border-radius:20%;" align="left" src="https://onuniverse-assets.imgix.net/598AB887-9EBA-45E9-84D4-7AA0E2CFA6ED.jpg?w=200&q=40&dpr=1">Phim Moi</a>
      <p style="margin-left:35%;margin-top:20px;font-family:arial;font-size:12px;color:Black;text-decoration:none;">Movies/TV</p>
    </div>
    <center><h1 style="border-bottom:solid;border-bottom-width:thin;border-bottom-color:Black;width:90%;margin-left:10%;"></h1></center>
    <div style="margin-bottom:30px;margin-left:10px;"  id="item">
    <a style="margin-left:15%;margin-top:20px;font-family:arial;font-size:15px;color:Black;text-decoration:none;" href="http://itunes.apple.com/gb/app/hdm-hd-phim/id1355274341?mt=8" >
      <img style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);height:80px; width:80px;border-radius:20%;" align="left" src="https://onuniverse-assets.imgix.net/AD1BABC5-67E4-4651-89EC-D3F0069C9584.jpg?w=200&q=40&dpr=1">HDM</a>
      <p style="margin-left:35%;margin-top:20px;font-family:arial;font-size:12px;color:Black;text-decoration:none;">Movies/TV</p>
    </div>
    <center><h1 style="border-bottom:solid;border-bottom-width:thin;border-bottom-color:Black;width:90%;margin-left:10%;"></h1></center>
    <div style="margin-bottom:30px;margin-left:10px;"  id="item">
    <a style="margin-left:15%;margin-top:20px;font-family:arial;font-size:15px;color:Black;text-decoration:none;" href="http://itunes.apple.com/us/app/phim-hay-xem-phim-hd-trailer/id1354329431?mt=8" >
      <img style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);height:80px; width:80px;border-radius:20%;" align="left" src="https://onuniverse-assets.imgix.net/D1F41E0E-E4A3-4189-BE57-024B8D193FD7.jpg?w=200&q=40&dpr=1">Phim Hay</a>
      <p style="margin-left:35%;margin-top:20px;font-family:arial;font-size:12px;color:Black;text-decoration:none;">Movies/TV</p>
    </div>
    <center><h1 style="border-bottom:solid;border-bottom-width:thin;border-bottom-color:Black;width:90%;margin-left:10%;"></h1></center>
    <div style="margin-bottom:30px;margin-left:10px;"  id="item">
    <a style="margin-left:15%;margin-top:20px;font-family:arial;font-size:15px;color:Black;text-decoration:none;" href="http://itunes.apple.com/us/app/phim-hdonline-xem-phim-hay/id1323986866?mt=8" >
      <img style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);height:80px; width:80px;border-radius:20%;" align="left" src="https://onuniverse-assets.imgix.net/58C3CAB4-9C52-4CB9-91B3-18788C840DB6.jpg?w=200&q=40&dpr=1">HD Online</a>
      <p style="margin-left:35%;margin-top:20px;font-family:arial;font-size:12px;color:Black;text-decoration:none;">Movies/TV</p>
    </div>
    <center><h1 style="border-bottom:solid;border-bottom-width:thin;border-bottom-color:Black;width:90%;margin-left:10%;"></h1></center>
    <div style="margin-bottom:30px;margin-left:10px;"  id="item">
    <a style="margin-left:15%;margin-top:20px;font-family:arial;font-size:15px;color:Black;text-decoration:none;" href="http://itunes.apple.com/gb/app/movies-diary/id1331405996?mt=8" >
      <img style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);height:80px; width:80px;border-radius:20%;" align="left" src="https://onuniverse-assets.imgix.net/AAAF74ED-2B35-4E56-9024-09B6AADB420A.jpg?w=200&q=40&dpr=1">Movie Diary</a>
      <p style="margin-left:35%;margin-top:20px;font-family:arial;font-size:12px;color:Black;text-decoration:none;">Movies/TV</p>
    </div>
    <center><h1 style="border-bottom:solid;border-bottom-width:thin;border-bottom-color:Black;width:90%;margin-left:10%;"></h1></center>
    <div style="margin-bottom:30px;margin-left:10px;"  id="item">
    <a style="margin-left:15%;margin-top:20px;font-family:arial;font-size:15px;color:Black;text-decoration:none;" href="http://itunes.apple.com/vn/app/omfy-net-movie-collection/id1104863822?mt=8" >
      <img style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);height:80px; width:80px;border-radius:20%;" align="left" src="https://onuniverse-assets.imgix.net/65C3B49E-32F2-4BD2-9083-C81233832953.jpg?w=200&q=40&dpr=1">OMFY MOVIES</a>
      <p style="margin-left:35%;margin-top:20px;font-family:arial;font-size:12px;color:Black;text-decoration:none;">Movies/TV</p>
    </div>
    <center><h1 style="border-bottom:solid;border-bottom-width:thin;border-bottom-color:Black;width:90%;margin-left:10%;"></h1></center>
    <div style="margin-bottom:30px;margin-left:10px;"  id="item">
    <a style="margin-left:15%;margin-top:20px;font-family:arial;font-size:15px;color:Black;text-decoration:none;" href="http://itunes.apple.com/us/app/movie-valley-x-best-cinema/id1286226577?mt=8" >
      <img style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);height:80px; width:80px;border-radius:20%;" align="left" src="https://onuniverse-assets.imgix.net/821B1C24-C6FE-4598-8DBD-4D6BBD126D64.jpg?w=200&q=40&dpr=1">Movie Valley X</a>
      <p style="margin-left:35%;margin-top:20px;font-family:arial;font-size:12px;color:Black;text-decoration:none;">Movies/TV</p>
    </div>
    <center><h1 style="border-bottom:solid;border-bottom-width:thin;border-bottom-color:Black;width:90%;margin-left:10%;"></h1></center>
    <div style="margin-bottom:30px;margin-left:10px;"  id="item">
    <a style="margin-left:15%;margin-top:20px;font-family:arial;font-size:15px;color:Black;text-decoration:none;" href="http://itunes.apple.com/us/app/phim-b%E1%BB%99/id894338969?mt=8" >
      <img style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);height:80px; width:80px;border-radius:20%;" align="left" src="https://onuniverse-assets.imgix.net/50C56B5D-A2BD-4F47-B2F4-01846FB2F6EE.jpg?w=200&q=40&dpr=1">Phim BO</a>
      <p style="margin-left:35%;margin-top:20px;font-family:arial;font-size:12px;color:Black;text-decoration:none;">Movies/TV</p>
    </div>
    <center><h1 style="border-bottom:solid;border-bottom-width:thin;border-bottom-color:Black;width:90%;margin-left:10%;"></h1></center>
    <div style="margin-bottom:30px;margin-left:10px;"  id="item">
    <a style="margin-left:15%;margin-top:20px;font-family:arial;font-size:15px;color:Black;text-decoration:none;" href="http://itunes.apple.com/us/app/zazu-now/id1230021301?mt=8" >
      <img style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);height:80px; width:80px;border-radius:20%;" align="left" src="https://onuniverse-assets.imgix.net/1382C5C9-9A8D-4B4C-B02D-F35AB9CAE0CD.jpg?w=200&q=40&dpr=1">Zazu Now</a>
      <p style="margin-left:35%;margin-top:20px;font-family:arial;font-size:12px;color:Black;text-decoration:none;">Movies/TV</p>
    </div>
    <center><h1 style="border-bottom:solid;border-bottom-width:thin;border-bottom-color:Black;width:90%;margin-left:10%;"></h1></center>
    <div style="margin-bottom:30px;margin-left:10px;"  id="item">
    <a style="margin-left:15%;margin-top:20px;font-family:arial;font-size:15px;color:Black;text-decoration:none;" href="http://itunes.apple.com/gb/app/%D8%A3%D9%81%D9%84%D8%A7%D9%85%D9%8A-%D9%85%D8%A7%D9%83%D8%B3/id1244455024?mt=8" >
      <img style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);height:80px; width:80px;border-radius:20%;" align="left" src="https://onuniverse-assets.imgix.net/A8849424-9E86-4FD3-9260-587375F14C2F.jpg?w=200&q=40&dpr=1">myMovie Max</a>
      <p style="margin-left:35%;margin-top:20px;font-family:arial;font-size:12px;color:Black;text-decoration:none;">Movies/TV</p>
    </div>
    <center><h1 style="border-bottom:solid;border-bottom-width:thin;border-bottom-color:Black;width:90%;margin-left:10%;"></h1></center>
    <div style="margin-bottom:30px;margin-left:10px;"  id="item">
    <a style="margin-left:15%;margin-top:20px;font-family:arial;font-size:15px;color:Black;text-decoration:none;" href="http://itunes.apple.com/us/app/nosey-watch-full-tv-episodes/id1190636061?mt=8" >
      <img style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);height:80px; width:80px;border-radius:20%;" align="left" src="https://onuniverse-assets.imgix.net/874EDC2D-0109-4E85-AA7D-E42271EAA982.jpg?w=200&q=40&dpr=1">Nosey</a>
      <p style="margin-left:35%;margin-top:20px;font-family:arial;font-size:12px;color:Black;text-decoration:none;">Movies/TV</p>
    </div>
    <center><h1 style="border-bottom:solid;border-bottom-width:thin;border-bottom-color:Black;width:90%;margin-left:10%;"></h1></center>
    <div style="margin-bottom:30px;margin-left:10px;"  id="item">
    <a style="margin-left:15%;margin-top:20px;font-family:arial;font-size:15px;color:Black;text-decoration:none;" href="http://itunes.apple.com/us/app/box-movies/id1024819331?mt=8" >
      <img style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);height:80px; width:80px;border-radius:20%;" align="left" src="https://onuniverse-assets.imgix.net/532D3627-2180-49D3-A484-6B423FBEE2EB.jpg?w=200&q=40&dpr=1">Box Movies</a>
      <p style="margin-left:35%;margin-top:20px;font-family:arial;font-size:12px;color:Black;text-decoration:none;">Movies/TV</p>
    </div>
    <center><h1 style="border-bottom:solid;border-bottom-width:thin;border-bottom-color:Black;width:90%;margin-left:10%;"></h1></center>
    <div style="margin-bottom:30px;margin-left:10px;"  id="item">
    <a style="margin-left:15%;margin-top:20px;font-family:arial;font-size:15px;color:Black;text-decoration:none;" href="http://itunes.apple.com/us/app/live-player-media-streaming/id1099439153?mt=8" >
      <img style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);height:80px; width:80px;border-radius:20%;" align="left" src="https://onuniverse-assets.imgix.net/8C04DB6E-4706-499F-B1AC-78F098828907.jpg?w=200&q=40&dpr=1">Live Player</a>
      <p style="margin-left:35%;margin-top:20px;font-family:arial;font-size:12px;color:Black;text-decoration:none;">Movies/TV</p>
    </div>
    <center><h1 style="border-bottom:solid;border-bottom-width:thin;border-bottom-color:Black;width:90%;margin-left:10%;"></h1></center>
    <div style="margin-bottom:30px;margin-left:10px;"  id="item">
    <a style="margin-left:15%;margin-top:20px;font-family:arial;font-size:15px;color:Black;text-decoration:none;" href="‎⁦‪https://itunes.apple.com/us/app/kissanime-social-hd-anime/id1385658648?mt=8‬⁩" >
      <img style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);height:80px; width:80px;border-radius:20%;" align="left" src="https://onuniverse-assets.imgix.net/A2279DDA-BF75-4CF0-A9F0-77D91C0F5BF3.jpg?w=200&q=40&dpr=1">Kiss Anime - Updated</a>
      <p style="margin-left:35%;margin-top:20px;font-family:arial;font-size:12px;color:Black;text-decoration:none;">Movies/TV</p>
    </div>
    <center><h1 style="border-bottom:solid;border-bottom-width:thin;border-bottom-color:Black;width:90%;margin-left:10%;"></h1></center>
    <div style="margin-bottom:30px;margin-left:10px;"  id="item">
    <a style="margin-left:15%;margin-top:20px;font-family:arial;font-size:15px;color:Black;text-decoration:none;" href="http://itunes.apple.com/us/app/theone-tv-xem-phim-online-hd-phim/id1163499302?mt=8" >
      <img style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);height:80px; width:80px;border-radius:20%;" align="left" src="https://onuniverse-assets.imgix.net/F7DDD421-FA2E-4E9F-9D5A-2545F64728F2.jpg?w=200&q=40&dpr=1">TheOne HD</a>
      <p style="margin-left:35%;margin-top:20px;font-family:arial;font-size:12px;color:Black;text-decoration:none;">Movies/TV</p>
    </div>
    <center><h1 style="border-bottom:solid;border-bottom-width:thin;border-bottom-color:black;width:90%;margin-left:10%;"></h1></center>
    <div style="margin-bottom:30px;margin-left:10px;"  id="item">
    <a style="margin-left:15%;margin-top:20px;font-family:arial;font-size:15px;color:Black;text-decoration:none;" href="http://itunes.apple.com/us/app/%D8%A3%D9%86%D9%85%D9%8A%D8%A7%D8%AA%D9%8A-%D9%85%D8%A7%D9%83%D8%B3/id1275575572?mt=8" >
      <img style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);height:80px; width:80px;border-radius:20%;" align="left" src="https://onuniverse-assets.imgix.net/52A4874E-01C5-43CC-8F7A-7BCF004FAC0D.jpg?w=200&q=40&dpr=1">My Animes Max</a>
      <p style="margin-left:35%;margin-top:20px;font-family:arial;font-size:12px;color:Black;text-decoration:none;">Movies/TV</p>
    </div>
    <center><h1 style="border-bottom:solid;border-bottom-width:thin;border-bottom-color:Black;width:90%;margin-left:10%;"></h1></center>
    <div style="margin-bottom:30px;margin-left:10px;"  id="item">
    <a style="margin-left:15%;margin-top:20px;font-family:arial;font-size:15px;color:Black;text-decoration:none;" href="http://itunes.apple.com/vn/app/phim-hay-l%E1%BB%8Bch-ph%C3%A1t-s%C3%B3ng/id1300498542?mt=8" >
      <img style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);height:80px; width:80px;border-radius:20%;" align="left" src="https://onuniverse-assets.imgix.net/88DD4DF5-48AF-42F0-91BA-8E6B7CBA38D0.jpg?w=200&q=40&dpr=1">Phim Hay</a>
      <p style="margin-left:35%;margin-top:20px;font-family:arial;font-size:12px;color:Black;text-decoration:none;">Movies/TV</p>
    </div>
    <center><h1 style="border-bottom:solid;border-bottom-width:thin;border-bottom-color:Black;width:90%;margin-left:10%;"></h1></center>
    <div style="margin-bottom:30px;margin-left:10px;"  id="item">
    <a style="margin-left:15%;margin-top:20px;font-family:arial;font-size:15px;color:Black;text-decoration:none;" href="http://itunes.apple.com/vn/app/xem-phim/id1030415569?mt=8" >
      <img style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);height:80px; width:80px;border-radius:20%;" align="left" src="https://onuniverse-assets.imgix.net/23C7F160-6159-434F-B30A-2FE0100B6906.jpg?w=200&q=40&dpr=1">Xem Phim</a>
      <p style="margin-left:35%;margin-top:20px;font-family:arial;font-size:12px;color:Black;text-decoration:none;">Movies/TV</p>
    </div>
    <center><h1 style="border-bottom:solid;border-bottom-width:thin;border-bottom-color:Black;width:90%;margin-left:10%;"></h1></center>
    <div style="margin-bottom:30px;margin-left:10px;"  id="item">
    <a style="margin-left:15%;margin-top:20px;font-family:arial;font-size:15px;color:Black;text-decoration:none;" href="http://itunes.apple.com/gb/app/popcornflix-free-movies/id493605531?mt=8" >
      <img style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);height:80px; width:80px;border-radius:20%;" align="left" src="https://onuniverse-assets.imgix.net/A495A0AC-6EF0-41C0-A4AE-D47D2BB71AE2.jpg?w=200&q=40&dpr=1">Popcorn Flix</a>
      <p style="margin-left:35%;margin-top:20px;font-family:arial;font-size:12px;color:Black;text-decoration:none;">Movies/TV</p>
    </div>
    <center><h1 style="border-bottom:solid;border-bottom-width:thin;border-bottom-color:Black;width:90%;margin-left:10%;"></h1></center>
    <div style="margin-bottom:30px;margin-left:10px;"  id="item">
    <a style="margin-left:15%;margin-top:20px;font-family:arial;font-size:15px;color:Black;text-decoration:none;" href="https://itunes.apple.com/gb/app/blaze-tv/id1154447408?mt=8" >
      <img style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);height:80px; width:80px;border-radius:20%;" align="left" src="https://onuniverse-assets.imgix.net/ACCAAB1A-B465-4765-B9EB-A56DBAA66F04.jpg?w=400&q=40&dpr=2">BlazeTV - Live TV</a>
      <p style="margin-left:35%;margin-top:20px;font-family:arial;font-size:12px;color:Black;text-decoration:none;">Movies/TV</p>
      </div>
    <center><h1 style="border-bottom:solid;border-bottom-width:thin;border-bottom-color:Black;width:90%;margin-left:10%;"></h1></center>
    <div style="margin-bottom:30px;margin-left:10px;"  id="item">
    <a style="margin-left:15%;margin-top:20px;font-family:arial;font-size:15px;color:Black;text-decoration:none;" href="https://itunes.apple.com/gb/app/tvcatchup-watch-free-live-tv/id1030827296?mt=8" >
      <img style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);height:80px; width:80px;border-radius:20%;" align="left" src="https://onuniverse-assets.imgix.net/BDEB715B-1E2F-49B0-8EB0-1680B3A7FCDB.jpg?w=400&q=40&dpr=2">TVCatchup - Live TV</a>
      <p style="margin-left:35%;margin-top:20px;font-family:arial;font-size:12px;color:Black;text-decoration:none;">Movies/TV</p>
      </div>
    <center><h1 style="border-bottom:solid;border-bottom-width:thin;border-bottom-color:Black;width:90%;margin-left:10%;"></h1></center>
    <div style="margin-bottom:30px;margin-left:10px;"  id="item">
    <a style="margin-left:15%;margin-top:20px;font-family:arial;font-size:15px;color:Black;text-decoration:none;" href="https://itunes.apple.com/us/app/pluto-tv-live-tv-and-movies/id751712884?mt=8" >
      <img style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);height:80px; width:80px;border-radius:20%;" align="left" src="https://onuniverse-assets.imgix.net/B81E7B37-EA9E-430C-A1A2-ADF2DF817A0B.jpg?w=400&q=40&dpr=2">Pluto TV - TV And Movies</a>
      <p style="margin-left:35%;margin-top:20px;font-family:arial;font-size:12px;color:Black;text-decoration:none;">Movies/TV</p>
      </div>
    <center><h1 style="border-bottom:solid;border-bottom-width:thin;border-bottom-color:Black;width:90%;margin-left:10%;"></h1></center>
    <div style="margin-bottom:30px;margin-left:10px;"  id="item">
    <a style="margin-left:15%;margin-top:20px;font-family:arial;font-size:15px;color:Black;text-decoration:none;" href="https://itunes.apple.com/us/app/xumo-watch-100-tv-channels/id1068337978?mt=8" >
      <img style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);height:80px; width:80px;border-radius:20%;" align="left" src="https://onuniverse-assets.imgix.net/2A92F754-8B6D-4209-8CCB-D273CFFC14C4.jpg?w=400&q=40&dpr=2">Xumo - 100+ TV CHNL</a>
      <p style="margin-left:35%;margin-top:20px;font-family:arial;font-size:12px;color:Black;text-decoration:none;">Movies/TV</p>
      </div>
    <center><h1 style="border-bottom:solid;border-bottom-width:thin;border-bottom-color:Black;width:90%;margin-left:10%;"></h1></center>
    <div style="margin-bottom:30px;margin-left:10px;"  id="item">
    <a style="margin-left:15%;margin-top:20px;font-family:arial;font-size:15px;color:Black;text-decoration:none;" href="https://itunes.apple.com/us/app/go90-stream-tv-live-sports/id1036435323?mt=8" >
      <img style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);height:80px; width:80px;border-radius:20%;" align="left" src="https://onuniverse-assets.imgix.net/37EAB046-68FF-490D-AE07-73B333E230C3.jpg?w=400&q=40&dpr=2">Go90 - Live TV/Sports</a>
      <p style="margin-left:35%;margin-top:20px;font-family:arial;font-size:12px;color:Black;text-decoration:none;">Movies/TV</p>
      </div>
    <center><h1 style="border-bottom:solid;border-bottom-width:thin;border-bottom-color:Black;width:90%;margin-left:10%;"></h1></center>
    <div style="margin-bottom:30px;margin-left:10px;"  id="item">
    <a style="margin-left:15%;margin-top:20px;font-family:arial;font-size:15px;color:Black;text-decoration:none;" href="https://itunes.apple.com/us/app/tvmucho-watch-live-tv-abroad/id1209130761?mt=8" >
      <img style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);height:80px; width:80px;border-radius:20%;" align="left" src="https://onuniverse-assets.imgix.net/1D328D16-93D9-4FAA-892F-B9C0483DEC4C.jpg?w=400&q=40&dpr=2">MuchoTV</a>
      <p style="margin-left:35%;margin-top:20px;font-family:arial;font-size:12px;color:Black;text-decoration:none;">Movies/TV</p>
      </div>
    <center><h1 style="border-bottom:solid;border-bottom-width:thin;border-bottom-color:Black;width:90%;margin-left:10%;"></h1></center>
    <div style="margin-bottom:30px;margin-left:10px;"  id="item">
    <a style="margin-left:15%;margin-top:20px;font-family:arial;font-size:15px;color:Black;text-decoration:none;" href="https://itunes.apple.com/us/app/sony-crackle/id377951542?mt=8" >
      <img style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);height:80px; width:80px;border-radius:20%;" align="left" src="https://onuniverse-assets.imgix.net/BA0B17C4-FDDD-403B-8801-447B6E692567.jpg?w=400&q=40&dpr=2">SonyCrackleTV</a>
      <p style="margin-left:35%;margin-top:20px;font-family:arial;font-size:12px;color:Black;text-decoration:none;">Movies/TV</p>
      </div>
    <center><h1 style="border-bottom:solid;border-bottom-width:thin;border-bottom-color:Black;width:90%;margin-left:10%;"></h1></center>
    <div style="margin-bottom:30px;margin-left:10px;"  id="item">
    <a style="margin-left:15%;margin-top:20px;font-family:arial;font-size:15px;color:Black;text-decoration:none;" href="https://itunes.apple.com/us/app/%D8%A7%D9%86%D9%85%D9%8A-%D9%83%D9%84%D8%A7%D9%88%D8%AF/id1222421493?mt=8" >
      <img style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);height:80px; width:80px;border-radius:20%;" align="left" src="https://onuniverse-assets.imgix.net/28D21D2E-C1B2-4ACF-B23B-77371B3A5D48.jpg?w=400&q=40&dpr=2">انمي كلاود</a>
      <p style="margin-left:35%;margin-top:20px;font-family:arial;font-size:12px;color:Black;text-decoration:none;">Movies/TV</p>
      </div>
    <center><h1 style="border-bottom:solid;border-bottom-width:thin;border-bottom-color:Black;width:90%;margin-left:10%;"></h1></center>
    <div style="margin-bottom:30px;margin-left:10px;"  id="item">
    <a style="margin-left:15%;margin-top:20px;font-family:arial;font-size:15px;color:Black;text-decoration:none;" href="https://itunes.apple.com/us/app/%D8%A7%D9%86%D9%85%D9%8A-%D8%A8%D9%84%D8%A7%D8%B3/id1243712335?mt=8" >
      <img style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);height:80px; width:80px;border-radius:20%;" align="left" src="https://onuniverse-assets.imgix.net/22019D7F-49CE-4FDD-9B8B-07B1EA131F30.jpg?w=400&q=40&dpr=2">انمي بلاس</a>
      <p style="margin-left:35%;margin-top:20px;font-family:arial;font-size:12px;color:Black;text-decoration:none;">Movies/TV</p>
      </div>
    <center><h1 style="border-bottom:solid;border-bottom-width:thin;border-bottom-color:Black;width:90%;margin-left:10%;"></h1></center>
    <div style="margin-bottom:30px;margin-left:10px;"  id="item">
    <a style="margin-left:15%;margin-top:20px;font-family:arial;font-size:15px;color:Black;text-decoration:none;" href="https://itunes.apple.com/us/app/%D8%A7%D9%86%D9%85%D9%8A-%D8%B3%D8%AA%D8%A7%D8%B1%D8%B2/id891198288?mt=8" >
      <img style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);height:80px; width:80px;border-radius:20%;" align="left" src="https://onuniverse-assets.imgix.net/ADDCA082-DBFD-47C2-BEE5-06CBBB6FC6E0.jpg?w=400&q=40&dpr=2">انمي ستارز</a>
      <p style="margin-left:35%;margin-top:20px;font-family:arial;font-size:12px;color:Black;text-decoration:none;">Movies/TV</p>
      </div>
    <center><h1 style="border-bottom:solid;border-bottom-width:thin;border-bottom-color:Black;width:90%;margin-left:10%;"></h1></center>
    <div style="margin-bottom:30px;margin-left:10px;"  id="item">
    <a style="margin-left:15%;margin-top:20px;font-family:arial;font-size:15px;color:Black;text-decoration:none;" href="https://itunes.apple.com/us/app/%D9%83%D8%B1%D8%AA%D9%88%D9%86-%D8%A8%D9%84%D8%A7%D8%B3-%D8%A8%D9%84%D8%A7%D8%B3/id1238822843?mt=8" >
      <img style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);height:80px; width:80px;border-radius:20%;" align="left" src="https://onuniverse-assets.imgix.net/52FEFC2D-5A4F-4118-ADA2-580B8307E160.jpg?w=400&q=40&dpr=2">كرتون بلاس بلاس</a>
      <p style="margin-left:35%;margin-top:20px;font-family:arial;font-size:12px;color:Black;text-decoration:none;">Movies/TV</p>
      </div>
    <center><h1 style="border-bottom:solid;border-bottom-width:thin;border-bottom-color:Black;width:90%;margin-left:10%;"></h1></center>
    <div style="margin-bottom:30px;margin-left:10px;"  id="item">
    <a style="margin-left:15%;margin-top:20px;font-family:arial;font-size:15px;color:Black;text-decoration:none;" href="https://itunes.apple.com/gb/app/%E9%AB%98%E6%B8%85%E8%A7%86%E9%A2%91%E6%92%AD%E6%94%BE%E5%99%A8-%E6%9C%80%E6%96%B0%E6%9C%80%E7%83%AD%E7%94%B5%E5%BD%B1%E7%94%B5%E8%A7%86%E5%89%A7%E5%9C%A8%E7%BA%BF%E7%9C%8B/id1021974175?mt=8" >
      <img style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);height:80px; width:80px;border-radius:20%;" align="left" src="https://onuniverse-assets.imgix.net/C383A616-20BB-4E4E-AB2F-3B468337AA3E.jpg?w=200&q=40&dpr=2">高清视频播放器</a>
      <p style="margin-left:35%;margin-top:20px;font-family:arial;font-size:12px;color:Black;text-decoration:none;">Movies/TV</p>
      </div>
    <center><h1 style="border-bottom:solid;border-bottom-width:thin;border-bottom-color:Black;width:90%;margin-left:10%;"></h1></center>
    <div style="margin-bottom:30px;margin-left:10px;"  id="item">
    <a style="margin-left:15%;margin-top:20px;font-family:arial;font-size:15px;color:Black;text-decoration:none;" href="https://itunes.apple.com/gb/app/%E7%94%B5%E8%A7%86%E5%89%A7%E5%A4%A7%E5%85%A8/id1249945716?mt=8" >
      <img style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);height:80px; width:80px;border-radius:20%;" align="left" src="https://onuniverse-assets.imgix.net/7BF497D5-F799-461D-987A-A1C0F46372B7.jpg?w=200&q=40&dpr=2">电视剧大全</a>
      <p style="margin-left:35%;margin-top:20px;font-family:arial;font-size:12px;color:Black;text-decoration:none;">Movies/TV</p>
      </div>
    <center><h1 style="border-bottom:solid;border-bottom-width:thin;border-bottom-color:Black;width:90%;margin-left:10%;"></h1></center>
    <div style="margin-bottom:30px;margin-left:10px;"  id="item">
    <a style="margin-left:15%;margin-top:20px;font-family:arial;font-size:15px;color:Black;text-decoration:none;" href="https://itunes.apple.com/gb/app/%E7%99%BE%E5%BA%A6%E8%A7%86%E9%A2%91-%E5%BD%92%E5%8E%BB%E6%9D%A5%E9%A6%96%E6%92%AD/id588287777?mt=8" >
      <img style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);height:80px; width:80px;border-radius:20%;" align="left" src="https://onuniverse-assets.imgix.net/637450E6-CE36-4555-9FB2-CCE07ECF4C8E.jpg?w=200&q=40&dpr=2">百度视频 - 归去来首播</a>
      <p style="margin-left:35%;margin-top:20px;font-family:arial;font-size:12px;color:Black;text-decoration:none;">Movies/TV</p>
      </div>
    <center><h1 style="border-bottom:solid;border-bottom-width:thin;border-bottom-color:Black;width:90%;margin-left:10%;"></h1></center>
    <div style="margin-bottom:30px;margin-left:10px;"  id="item">
    <a style="margin-left:15%;margin-top:20px;font-family:arial;font-size:15px;color:Black;text-decoration:none;" href="https://itunes.apple.com/ca/app/tubi-tv-movies-tv-shows/id886445756?mt=8" >
      <img style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);height:80px; width:80px;border-radius:20%;" align="left" src="https://onuniverse-assets.imgix.net/42F3C5B3-50A5-4F26-B8C1-7FEA858B8A1E.jpg?w=200&q=40&dpr=2">Tubi TV</a>
      <p style="margin-left:35%;margin-top:20px;font-family:arial;font-size:12px;color:Black;text-decoration:none;">Movies/TV</p>
      </div>
    <center><h1 style="border-bottom:solid;border-bottom-width:thin;border-bottom-color:Black;width:90%;margin-left:10%;"></h1></center>
    <div style="margin-bottom:30px;margin-left:10px;"  id="item">
    <a style="margin-left:15%;margin-top:20px;font-family:arial;font-size:15px;color:Black;text-decoration:none;" href="https://itunes.apple.com/gb/app/reelgood/id1031391869?mt=8" >
      <img style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);height:80px; width:80px;border-radius:20%;" align="left" src="https://onuniverse-assets.imgix.net/930C2682-1943-495D-8519-0825610DA0B4.jpg?w=200&q=40&dpr=2">RealGood-Group-Video stream</a>
      <p style="margin-left:35%;margin-top:20px;font-family:arial;font-size:12px;color:Black;text-decoration:none;">Screen Share Videos</p>
      </div>
    <center><h1 style="border-bottom:solid;border-bottom-width:thin;border-bottom-color:Black;width:90%;margin-left:10%;"></h1></center>
    <div style="margin-bottom:30px;margin-left:10px;"  id="item">
    <a style="margin-left:15%;margin-top:20px;font-family:arial;font-size:15px;color:Black;text-decoration:none;" href="https://itunes.apple.com/us/app/dreams-tv-for-your-phone/id1382400324?mt=8" >
      <img style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);height:80px; width:80px;border-radius:20%;" align="left" src="https://onuniverse-assets.imgix.net/3A6B05C2-FC97-4512-B539-B3E6D5172AB3.jpg?w=200&q=40&dpr=2">Dreams TV-@Bo0m_h4ckz</a>
      <p style="margin-left:35%;margin-top:20px;font-family:arial;font-size:12px;color:Black;text-decoration:none;">Movies/TV</p>
      </div>
    <center><h1 style="border-bottom:solid;border-bottom-width:thin;border-bottom-color:Black;width:90%;margin-left:10%;"></h1></center>
    <div style="margin-bottom:30px;margin-left:10px;"  id="item">
    <a style="margin-left:15%;margin-top:20px;font-family:arial;font-size:15px;color:Black;text-decoration:none;" href="https://itunes.apple.com/us/app/unlimited-tv-news-tv-shows/id1152299107?mt=8" >
      <img style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);height:80px; width:80px;border-radius:20%;" align="left" src="https://onuniverse-assets.imgix.net/BB193FAF-2476-49FA-AFD7-C89FA3F1FE7B.jpg?w=200&q=40&dpr=2">UnlimitedTV-@Bo0m_h4ckz</a>
      <p style="margin-left:35%;margin-top:20px;font-family:arial;font-size:12px;color:Black;text-decoration:none;">Movies/TV</p>
      </div>
    <center><h1 style="border-bottom:solid;border-bottom-width:thin;border-bottom-color:Black;width:90%;margin-left:10%;"></h1></center>
    <div style="margin-bottom:30px;margin-left:10px;"  id="item">
    <a style="margin-left:15%;margin-top:20px;font-family:arial;font-size:15px;color:Black;text-decoration:none;" href="https://itunes.apple.com/us/app/pakistani-tv-news-time/id873073297?mt=8" >
      <img style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);height:80px; width:80px;border-radius:20%;" align="left" src="https://onuniverse-assets.imgix.net/39EE7F6A-81E6-491B-972F-66F573E20729.jpg?w=200&q=40&dpr=2">PakistaniTV-@Itsme_SP9</a>
      <p style="margin-left:35%;margin-top:20px;font-family:arial;font-size:12px;color:Black;text-decoration:none;">Movies/TV</p>
      </div>
    <center><h1 style="border-bottom:solid;border-bottom-width:thin;border-bottom-color:Black;width:90%;margin-left:10%;"></h1></center>
    <div style="margin-bottom:30px;margin-left:10px;"  id="item">
    <a style="margin-left:15%;margin-top:20px;font-family:arial;font-size:15px;color:Black;text-decoration:none;" href="https://itunes.apple.com/gb/app/ar-tube-for-youtube/id1289432459?mt=8" >
      <img style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);height:80px; width:80px;border-radius:20%;" align="left" src="https://onuniverse-assets.imgix.net/BE671D4D-B520-4094-BBEA-E87F00E14DB8.jpg?w=200&q=40&dpr=2">AR Youtube</a>
      <p style="margin-left:35%;margin-top:20px;font-family:arial;font-size:12px;color:Black;text-decoration:none;">Movies/TV</p>
      </div>
    <center><h1 style="border-bottom:solid;border-bottom-width:thin;border-bottom-color:Black;width:90%;margin-left:10%;"></h1></center>
    <div style="margin-bottom:30px;margin-left:10px;"  id="item">
    <a style="margin-left:15%;margin-top:20px;font-family:arial;font-size:15px;color:Black;text-decoration:none;" href="https://itunes.apple.com/gb/app/pok%C3%A9mon-tv/id594261405?mt=8" >
      <img style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);height:80px; width:80px;border-radius:20%;" align="left" src="https://onuniverse-assets.imgix.net/1392C421-3D4E-42B8-B3CC-FAD688F65AE1.jpg?w=200&q=40&dpr=2">Pokémon TV</a>
      <p style="margin-left:35%;margin-top:20px;font-family:arial;font-size:12px;color:Black;text-decoration:none;">Movies/TV</p>
      </div>
    <center><h1 style="border-bottom:solid;border-bottom-width:thin;border-bottom-color:Black;width:90%;margin-left:10%;"></h1></center>
    <div style="margin-bottom:30px;margin-left:10px;"  id="item">
    <a style="margin-left:15%;margin-top:20px;font-family:arial;font-size:15px;color:Black;text-decoration:none;" href="https://itunes.apple.com/gb/app/plusdede/id1305386925?mt=8" >
      <img style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);height:80px; width:80px;border-radius:20%;" align="left" src="https://onuniverse-assets.imgix.net/131FFC73-132F-494E-A1DD-0F57DA2917E4.jpg?w=200&q=40&dpr=2">Plusdede</a>
      <p style="margin-left:35%;margin-top:20px;font-family:arial;font-size:12px;color:Black;text-decoration:none;">Movies/TV</p>
      </div>
    <center><h1 style="border-bottom:solid;border-bottom-width:thin;border-bottom-color:Black;width:90%;margin-left:10%;"></h1></center>
    <div style="margin-bottom:30px;margin-left:10px;"  id="item">
    <a style="margin-left:15%;margin-top:20px;font-family:arial;font-size:15px;color:Black;text-decoration:none;" href="https://itunes.apple.com/gb/app/rabbit-watch-together/id1034629715?mt=8" >
      <img style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);height:80px; width:80px;border-radius:20%;" align="left" src="https://onuniverse-assets.imgix.net/28E61B87-94BB-4616-AE6E-540087C8BCDA.jpg?w=200&q=40&dpr=2">Rabbit - WatchTogether</a>
      <p style="margin-left:35%;margin-top:20px;font-family:arial;font-size:12px;color:Black;text-decoration:none;">Movies/TV</p>
      </div>
    <center><h1 style="border-bottom:solid;border-bottom-width:thin;border-bottom-color:Black;width:90%;margin-left:10%;"></h1></center>
    <div style="margin-bottom:30px;margin-left:10px;"  id="item">
    <a style="margin-left:15%;margin-top:20px;font-family:arial;font-size:15px;color:Black;text-decoration:none;" href="https://itunes.apple.com/gb/app/420tv-watch-shows-and-movies/id1326119703?mt=8" >
      <img style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);height:80px; width:80px;border-radius:20%;" align="left" src="https://onuniverse-assets.imgix.net/9C46F8AE-F81D-4AED-8E54-492AE36C69D3.jpg?w=200&q=40&dpr=2">420tv</a>
      <p style="margin-left:35%;margin-top:20px;font-family:arial;font-size:12px;color:Black;text-decoration:none;">Movies/TV</p>
      </div>
    <center><h1 style="border-bottom:solid;border-bottom-width:thin;border-bottom-color:Black;width:90%;margin-left:10%;"></h1></center>
    <div style="margin-bottom:30px;margin-left:10px;"  id="item">
    <a style="margin-left:15%;margin-top:20px;font-family:arial;font-size:15px;color:Black;text-decoration:none;" href="https://itunes.apple.com/gb/app/pakistani-tv/id503142275?mt=8" >
      <img style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);height:80px; width:80px;border-radius:20%;" align="left" src="https://onuniverse-assets.imgix.net/3D008B69-5F92-4899-AE67-29872EDEA2FA.jpg?w=200&q=40&dpr=2">Pakistanitv</a>
      <p style="margin-left:35%;margin-top:20px;font-family:arial;font-size:12px;color:Black;text-decoration:none;">Movies/TV</p>
      </div>
    <center><h1 style="border-bottom:solid;border-bottom-width:thin;border-bottom-color:Black;width:90%;margin-left:10%;"></h1></center>
    <div style="margin-bottom:30px;margin-left:10px;"  id="item">
    <a style="margin-left:15%;margin-top:20px;font-family:arial;font-size:15px;color:Black;text-decoration:none;" href="https://itunes.apple.com/gb/app/ptv-sports-hd-live/id1145918528?mt=8" >
      <img style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);height:80px; width:80px;border-radius:20%;" align="left" src="https://onuniverse-assets.imgix.net/B6928EB6-AAF1-49C4-83EB-0824E3C76497.jpg?w=200&q=40&dpr=2">PTVSports (TV&Movies not sports)</a>
      <p style="margin-left:35%;margin-top:20px;font-family:arial;font-size:12px;color:Black;text-decoration:none;">Movies/TV</p>
    </div>
    <center><h1 style="border-bottom:solid;border-bottom-width:thin;border-bottom-color:Black;width:100%;"></h1></center>
    </div>

  </ion-content>
</ion-view>
