<ion-view title="Music" id="page6" class="nav1">
  <ion-content padding="false" class="has-header">

    <center><img style="width:70%; margin:10px;" src="https://onuniverse-assets.imgix.net/EF9D0B4F-C432-4F45-8F80-C6EE760568E5.jpg?w=600&q=40&dpr=2"></img></center>

    <br>

    <div>
    <center><h1 style="border-bottom:solid;border-bottom-width:thin;border-bottom-color:Black;width:100%;"></h1></center>

    <div style="margin-bottom:30px;margin-left:10px;"  id="item">
    <a style="margin-left:15%;margin-top:20px;font-family:arial;font-size:15px;color:Black;text-decoration:none;" href="http://itunes.apple.com/us/app/music-play-stream-player/id1367428369?mt=8" >
      <img style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);height:80px; width:80px;border-radius:20%;" align="left" src="https://onuniverse-assets.imgix.net/5598EBD3-A821-4D25-A897-0B8E1DD781A9.jpg?w=200&q=40&dpr=1">Music Play</a>
      <p style="margin-left:35%;margin-top:20px;font-family:arial;font-size:12px;color:Black;text-decoration:none;">Music</p>
      </div>
    <center><h1 style="border-bottom:solid;border-bottom-width:thin;border-bottom-color:Black;width:90%;margin-left:10%;"></h1></center>
    <div style="margin-bottom:30px;margin-left:10px;"  id="item">
    <a style="margin-left:15%;margin-top:20px;font-family:arial;font-size:15px;color:Black;text-decoration:none;" href="https://itunes.apple.com/gb/app/music-apps-unlimited-music/id1267240944?mt=8" >
      <img style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);height:80px; width:80px;border-radius:20%;" align="left" src="https://onuniverse-assets.imgix.net/8B58F58F-90DF-4025-9F74-43FB77631AD4.jpg?w=200&q=40&dpr=2">Music Apps - @AlliTalkisTech</a>
      <p style="margin-left:35%;margin-top:20px;font-family:arial;font-size:12px;color:Black;text-decoration:none;">Music</p>
    </div>
    <center><h1 style="border-bottom:solid;border-bottom-width:thin;border-bottom-color:Black;width:90%;margin-left:10%;"></h1></center>
    <div style="margin-bottom:30px;margin-left:10px;"  id="item">
    <a style="margin-left:15%;margin-top:20px;font-family:arial;font-size:15px;color:Black;text-decoration:none;" href="http://itunes.apple.com/us/app/musifly/id1252444213?mt=8" >
      <img style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);height:80px; width:80px;border-radius:20%;" align="left" src="https://onuniverse-assets.imgix.net/7E617D51-BDDF-4699-8787-24D411DC5A2B.jpg?w=200&q=40&dpr=1">Musifly</a>
      <p style="margin-left:35%;margin-top:20px;font-family:arial;font-size:12px;color:Black;text-decoration:none;">Music</p>
    </div>
    <center><h1 style="border-bottom:solid;border-bottom-width:thin;border-bottom-color:Black;width:90%;margin-left:10%;"></h1></center>
    <div style="margin-bottom:30px;margin-left:10px;"  id="item">
    <a style="margin-left:15%;margin-top:20px;font-family:arial;font-size:15px;color:Black;text-decoration:none;" href="http://itunes.apple.com/us/app/esound-music/id1224933860?mt=8" >
      <img style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);height:80px; width:80px;border-radius:20%;" align="left" src="https://onuniverse-assets.imgix.net/88CA48BF-DAF5-4F64-A01F-62209FF52DF4.jpg?w=200&q=40&dpr=1">Esound Music</a>
      <p style="margin-left:35%;margin-top:20px;font-family:arial;font-size:12px;color:Black;text-decoration:none;">Music</p>
    </div>
    <center><h1 style="border-bottom:solid;border-bottom-width:thin;border-bottom-color:Black;width:90%;margin-left:10%;"></h1></center>
    <div style="margin-bottom:30px;margin-left:10px;"  id="item">
    <a style="margin-left:15%;margin-top:20px;font-family:arial;font-size:15px;color:Black;text-decoration:none;" href="http://itunes.apple.com/us/app/stream-hub/id979963785?mt=8" >
      <img style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);height:80px; width:80px;border-radius:20%;" align="left" src="https://onuniverse-assets.imgix.net/63BBA7A7-B87E-4EBE-BD6A-1A096EA251F6.jpg?w=200&q=40&dpr=1">Stream Hub</a>
      <p style="margin-left:35%;margin-top:20px;font-family:arial;font-size:12px;color:Black;text-decoration:none;">Music</p>
    </div>
    <center><h1 style="border-bottom:solid;border-bottom-width:thin;border-bottom-color:Black;width:90%;margin-left:10%;"></h1></center>
    <div style="margin-bottom:30px;margin-left:10px;"  id="item">
    <a style="margin-left:15%;margin-top:20px;font-family:arial;font-size:15px;color:Black;text-decoration:none;" href="http://itunes.apple.com/us/app/katrina-music-music-player-for-cloud-platforms-from/id1118613970?mt=8" >
      <img style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);height:80px; width:80px;border-radius:20%;" align="left" src="https://onuniverse-assets.imgix.net/18D55160-C3B7-4EAC-88D4-9D31918B6406.jpg?w=200&q=40&dpr=1">Katrina Music</a>
      <p style="margin-left:35%;margin-top:20px;font-family:arial;font-size:12px;color:Black;text-decoration:none;">Music</p>
    </div>
    <center><h1 style="border-bottom:solid;border-bottom-width:thin;border-bottom-color:Black;width:90%;margin-left:10%;"></h1></center>
    <div style="margin-bottom:30px;margin-left:10px;"  id="item">
    <a style="margin-left:15%;margin-top:20px;font-family:arial;font-size:15px;color:Black;text-decoration:none;" href="http://itunes.apple.com/us/app/documents-by-readdle/id364901807?mt=8" >
      <img style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);height:80px; width:80px;border-radius:20%;" align="left" src="https://onuniverse-assets.imgix.net/719275F9-78B3-4F94-900A-81FF4BBCCD19.jpg?w=200&q=40&dpr=1">Documents</a>
      <p style="margin-left:35%;margin-top:20px;font-family:arial;font-size:12px;color:Black;text-decoration:none;">Music</p>
    </div>
    <center><h1 style="border-bottom:solid;border-bottom-width:thin;border-bottom-color:Black;width:90%;margin-left:10%;"></h1></center>
    <div style="margin-bottom:30px;margin-left:10px;"  id="item">
    <a style="margin-left:15%;margin-top:20px;font-family:arial;font-size:15px;color:Black;text-decoration:none;" href="http://itunes.apple.com/us/app/trebel-music-song-downloader/id912390687?mt=8" >
      <img style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);height:80px; width:80px;border-radius:20%;" align="left" src="https://onuniverse-assets.imgix.net/3977DE4C-4F80-49FA-B271-325CD93F7F3F.jpg?w=200&q=40&dpr=1">Trebel Music</a>
      <p style="margin-left:35%;margin-top:20px;font-family:arial;font-size:12px;color:Black;text-decoration:none;">Music</p>
    </div>
    <center><h1 style="border-bottom:solid;border-bottom-width:thin;border-bottom-color:Black;width:90%;margin-left:10%;"></h1></center>
    <div style="margin-bottom:30px;margin-left:10px;"  id="item">
    <a style="margin-left:15%;margin-top:20px;font-family:arial;font-size:15px;color:Black;text-decoration:none;" href="http://itunes.apple.com/gb/app/music-with-me-offline-player-cloud-streamer/id1027953697?mt=8" >
      <img style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);height:80px; width:80px;border-radius:20%;" align="left" src="https://onuniverse-assets.imgix.net/AE573C5D-37F4-4FB4-A100-30B898A5BA55.jpg?w=200&q=40&dpr=1">Music. With. Me.</a>
      <p style="margin-left:35%;margin-top:20px;font-family:arial;font-size:12px;color:Black;text-decoration:none;">Music</p>
    </div>
    <center><h1 style="border-bottom:solid;border-bottom-width:thin;border-bottom-color:Black;width:90%;margin-left:10%;"></h1></center>
    <div style="margin-bottom:30px;margin-left:10px;"  id="item">
    <a style="margin-left:15%;margin-top:20px;font-family:arial;font-size:15px;color:Black;text-decoration:none;" href="http://itunes.apple.com/us/app/fm-music-offline-player/id1270230183?mt=8" >
      <img style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);height:80px; width:80px;border-radius:20%;" align="left" src="https://onuniverse-assets.imgix.net/26C8676F-57ED-4DD7-9F3E-D3743FC06E4F.jpg?w=200&q=40&dpr=1">FM Music Offline</a>
      <p style="margin-left:35%;margin-top:20px;font-family:arial;font-size:12px;color:Black;text-decoration:none;">Music</p>
    </div>
    <center><h1 style="border-bottom:solid;border-bottom-width:thin;border-bottom-color:Black;width:90%;margin-left:10%;"></h1></center>
    <div style="margin-bottom:30px;margin-left:10px;"  id="item">
    <a style="margin-left:15%;margin-top:20px;font-family:arial;font-size:15px;color:Black;text-decoration:none;" href="http://itunes.apple.com/gb/app/evermusic-offline-music/id885367198?mt=8" >
      <img style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);height:80px; width:80px;border-radius:20%;" align="left" src="https://onuniverse-assets.imgix.net/A5299BBD-ECA6-4D37-B8AF-9E4F3C53CDC1.jpg?w=200&q=40&dpr=1">Ever Music</a>
      <p style="margin-left:35%;margin-top:20px;font-family:arial;font-size:12px;color:Black;text-decoration:none;">Music</p>
    </div>
    <center><h1 style="border-bottom:solid;border-bottom-width:thin;border-bottom-color:Black;width:90%;margin-left:10%;"></h1></center>
    <div style="margin-bottom:30px;margin-left:10px;"  id="item">
    <a style="margin-left:15%;margin-top:20px;font-family:arial;font-size:15px;color:Black;text-decoration:none;" href="http://itunes.apple.com/us/app/musidu-player-music-streamer/id1380806518?mt=8" >
      <img style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);height:80px; width:80px;border-radius:20%;" align="left" src="https://onuniverse-assets.imgix.net/7999B0F2-D536-4887-BFB3-62B0CD6E8378.jpg?w=200&q=40&dpr=1">Musidu Player</a>
      <p style="margin-left:35%;margin-top:20px;font-family:arial;font-size:12px;color:Black;text-decoration:none;">Music</p>
    </div>
    <center><h1 style="border-bottom:solid;border-bottom-width:thin;border-bottom-color:Black;width:90%;margin-left:10%;"></h1></center>
    <div style="margin-bottom:30px;margin-left:10px;"  id="item">
    <a style="margin-left:15%;margin-top:20px;font-family:arial;font-size:15px;color:Black;text-decoration:none;" href="http://itunes.apple.com/us/app/music-fm-mp3-offline-player/id1244369854?mt=8" >
      <img style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);height:80px; width:80px;border-radius:20%;" align="left" src="https://onuniverse-assets.imgix.net/733B6297-E8AE-4387-8DCC-6DDA282B7325.jpg?w=200&q=40&dpr=1">Music FM Offline</a>
      <p style="margin-left:35%;margin-top:20px;font-family:arial;font-size:12px;color:Black;text-decoration:none;">Music</p>
      </div>
    <center><h1 style="border-bottom:solid;border-bottom-width:thin;border-bottom-color:Black;width:90%;margin-left:10%;"></h1></center>
    <div style="margin-bottom:30px;margin-left:10px;"  id="item">
    <a style="margin-left:15%;margin-top:20px;font-family:arial;font-size:15px;color:Black;text-decoration:none;" href="http://itunes.apple.com/gb/app/make-sound-player-offline-mp3/id1326490519?mt=8" >
      <img style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);height:80px; width:80px;border-radius:20%;" align="left" src="https://onuniverse-assets.imgix.net/C3EC800F-2B48-43C1-A4FC-A8FB15228F96.jpg?w=600&q=40&dpr=2">Make Sound Player Offline</a>
      <p style="margin-left:35%;margin-top:20px;font-family:arial;font-size:12px;color:Black;text-decoration:none;">Music</p>
      </div>
    <center><h1 style="border-bottom:solid;border-bottom-width:thin;border-bottom-color:Black;width:90%;margin-left:10%;"></h1></center>
    <div style="margin-bottom:30px;margin-left:10px;"  id="item">
    <a style="margin-left:15%;margin-top:20px;font-family:arial;font-size:15px;color:Black;text-decoration:none;" href="http://itunes.apple.com/gb/app/cloud-offline-music-player/id1360961270?mt=8" >
      <img style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);height:80px; width:80px;border-radius:20%;" align="left" src="https://onuniverse-assets.imgix.net/7C8D1D53-5E8F-4A17-831E-E360873E619B.jpg?w=600&q=40&dpr=2">Cloud Offline</a>
      <p style="margin-left:35%;margin-top:20px;font-family:arial;font-size:12px;color:Black;text-decoration:none;">Music</p>
      </div>
    <center><h1 style="border-bottom:solid;border-bottom-width:thin;border-bottom-color:Black;width:90%;margin-left:10%;"></h1></center>
    <div style="margin-bottom:30px;margin-left:10px;"  id="item">
    <a style="margin-left:15%;margin-top:20px;font-family:arial;font-size:15px;color:Black;text-decoration:none;" href="http://itunes.apple.com/gb/app/i-files-file-manager-offline-browser/id1073846064?mt=8" >
      <img style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);height:80px; width:80px;border-radius:20%;" align="left" src="https://onuniverse-assets.imgix.net/4DA8EC4E-9AFC-4EF0-A7F3-C63F2BEC0CEC.jpg?w=600&q=40&dpr=2">i.File</a>
      <p style="margin-left:35%;margin-top:20px;font-family:arial;font-size:12px;color:Black;text-decoration:none;">Music</p>
      </div>
    <center><h1 style="border-bottom:solid;border-bottom-width:thin;border-bottom-color:Black;width:90%;margin-left:10%;"></h1></center>
    <div style="margin-bottom:30px;margin-left:10px;"  id="item">
    <a style="margin-left:15%;margin-top:20px;font-family:arial;font-size:15px;color:Black;text-decoration:none;" href="https://itunes.apple.com/gb/app/vox-mp3-flac-music-player/id916215494?mt=8 " >
      <img style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);height:80px; width:80px;border-radius:20%;" align="left" src="https://onuniverse-assets.imgix.net/850AF6D1-F99B-4C0E-A73C-0C3BB3F699FF.jpg?w=400&q=40&dpr=2">Vox MP3 - @djzach22</a>
      <p style="margin-left:35%;margin-top:20px;font-family:arial;font-size:12px;color:Black;text-decoration:none;">Music</p>
      </div>
    <center><h1 style="border-bottom:solid;border-bottom-width:thin;border-bottom-color:Black;width:90%;margin-left:10%;"></h1></center>
    <div style="margin-bottom:30px;margin-left:10px;"  id="item">
    <a style="margin-left:15%;margin-top:20px;font-family:arial;font-size:15px;color:Black;text-decoration:none;" href="http://itunes.apple.com/gb/app/cloud-music-player-for-offline-audio-by-multicloud/id1062525401?mt=8" >
      <img style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);height:80px; width:80px;border-radius:20%;" align="left" src="https://onuniverse-assets.imgix.net/0D5E60A4-0159-4C41-9932-F5E80D9E3913.jpg?w=600&q=40&dpr=2">Cloud Music Offline</a>
      <p style="margin-left:35%;margin-top:20px;font-family:arial;font-size:12px;color:Black;text-decoration:none;">Music</p>
      </div>
    <center><h1 style="border-bottom:solid;border-bottom-width:thin;border-bottom-color:Black;width:90%;margin-left:10%;"></h1></center>
    <div style="margin-bottom:30px;margin-left:10px;"  id="item">
    <a style="margin-left:15%;margin-top:20px;font-family:arial;font-size:15px;color:Black;text-decoration:none;" href="https://itunes.apple.com/us/app/meloman-great-player/id1210207476?mt=8" >
      <img style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);height:80px; width:80px;border-radius:20%;" align="left" src="https://onuniverse-assets.imgix.net/3D2F2589-531F-467C-A352-E9E9C6E8E236.jpg?w=200&q=40&dpr=2">Meloman</a>
      <p style="margin-left:35%;margin-top:20px;font-family:arial;font-size:12px;color:Black;text-decoration:none;">Music</p>
      </div>
    <center><h1 style="border-bottom:solid;border-bottom-width:thin;border-bottom-color:Black;width:90%;margin-left:10%;"></h1></center>
    <div style="margin-bottom:30px;margin-left:10px;"  id="item">
    <a style="margin-left:15%;margin-top:20px;font-family:arial;font-size:15px;color:Black;text-decoration:none;" href="https://itunes.apple.com/us/app/tube-play-mp3-music-player/id1156959674?mt=8" >
      <img style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);height:80px; width:80px;border-radius:20%;" align="left" src="https://onuniverse-assets.imgix.net/28E4D425-0DCD-4F7D-BC61-4BDC665994CE.jpg?w=200&q=40&dpr=2">TubePlay</a>
      <p style="margin-left:35%;margin-top:20px;font-family:arial;font-size:12px;color:Black;text-decoration:none;">Music</p>
      </div>
    <center><h1 style="border-bottom:solid;border-bottom-width:thin;border-bottom-color:Black;width:90%;margin-left:10%;"></h1></center>
    <div style="margin-bottom:30px;margin-left:10px;"  id="item">
    <a style="margin-left:15%;margin-top:20px;font-family:arial;font-size:15px;color:Black;text-decoration:none;" href="https://itunes.apple.com/us/app/free-music/id1081323913?mt=8" >
      <img style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);height:80px; width:80px;border-radius:20%;" align="left" src="https://onuniverse-assets.imgix.net/BAA44238-9592-42EC-B82F-09E5F87C72A9.jpg?w=200&q=40&dpr=2">FreeMusic</a>
      <p style="margin-left:35%;margin-top:20px;font-family:arial;font-size:12px;color:Black;text-decoration:none;">Music</p>
      </div>
    <center><h1 style="border-bottom:solid;border-bottom-width:thin;border-bottom-color:Black;width:90%;margin-left:10%;"></h1></center>
    <div style="margin-bottom:30px;margin-left:10px;"  id="item">
    <a style="margin-left:15%;margin-top:20px;font-family:arial;font-size:15px;color:Black;text-decoration:none;" href="https://itunes.apple.com/us/app/flytunes-music/id1165593901?mt=8" >
      <img style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);height:80px; width:80px;border-radius:20%;" align="left" src="https://onuniverse-assets.imgix.net/7BEF47D7-DE66-4A24-B3D7-6104CCDCB916.jpg?w=200&q=40&dpr=2">FlyTunes</a>
      <p style="margin-left:35%;margin-top:20px;font-family:arial;font-size:12px;color:Black;text-decoration:none;">Music</p>
      </div>
    <center><h1 style="border-bottom:solid;border-bottom-width:thin;border-bottom-color:Black;width:90%;margin-left:10%;"></h1></center>
    <div style="margin-bottom:30px;margin-left:10px;"  id="item">
    <a style="margin-left:15%;margin-top:20px;font-family:arial;font-size:15px;color:Black;text-decoration:none;" href="https://itunes.apple.com/us/app/muzaqi-best-music-player-for-soundcloud/id1170885152?mt=8" >
      <img style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);height:80px; width:80px;border-radius:20%;" align="left" src="https://onuniverse-assets.imgix.net/863CA190-EBFA-4496-A36D-9E1460DFC964.jpg?w=200&q=40&dpr=2">Muzaqi</a>
      <p style="margin-left:35%;margin-top:20px;font-family:arial;font-size:12px;color:Black;text-decoration:none;">Music</p>
      </div>
    <center><h1 style="border-bottom:solid;border-bottom-width:thin;border-bottom-color:Black;width:90%;margin-left:10%;"></h1></center>
    <div style="margin-bottom:30px;margin-left:10px;"  id="item">
    <a style="margin-left:15%;margin-top:20px;font-family:arial;font-size:15px;color:Black;text-decoration:none;" href="https://itunes.apple.com/us/app/music-on-top-mp3-music-play/id1370353702?mt=8" >
      <img style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);height:80px; width:80px;border-radius:20%;" align="left" src="https://onuniverse-assets.imgix.net/C3121FC0-4D06-4B48-9125-617451B7F7AA.jpg?w=200&q=40&dpr=2">Music On Top</a>
      <p style="margin-left:35%;margin-top:20px;font-family:arial;font-size:12px;color:Black;text-decoration:none;">Music</p>
      </div>
    <center><h1 style="border-bottom:solid;border-bottom-width:thin;border-bottom-color:Black;width:90%;margin-left:10%;"></h1></center>
    <div style="margin-bottom:30px;margin-left:10px;"  id="item">
    <a style="margin-left:15%;margin-top:20px;font-family:arial;font-size:15px;color:Black;text-decoration:none;" href="https://itunes.apple.com/us/app/songflip-music-streaming/id966709467?mt=8" >
      <img style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);height:80px; width:80px;border-radius:20%;" align="left" src="https://onuniverse-assets.imgix.net/214369B9-CA12-4C0A-B98F-81CC635F1BE5.jpg?w=200&q=40&dpr=2">Song Flip</a>
      <p style="margin-left:35%;margin-top:20px;font-family:arial;font-size:12px;color:Black;text-decoration:none;">Music</p>
      </div>
    <center><h1 style="border-bottom:solid;border-bottom-width:thin;border-bottom-color:Black;width:90%;margin-left:10%;"></h1></center>
    <div style="margin-bottom:30px;margin-left:10px;"  id="item">
    <a style="margin-left:15%;margin-top:20px;font-family:arial;font-size:15px;color:Black;text-decoration:none;" href="https://itunes.apple.com/us/app/downtube-music-for-youtube/id1291074750?mt=8" >
      <img style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);height:80px; width:80px;border-radius:20%;" align="left" src="https://onuniverse-assets.imgix.net/BFE349D4-08E7-4951-813F-E1509D1A5843.jpg?w=200&q=40&dpr=2">DownTube</a>
      <p style="margin-left:35%;margin-top:20px;font-family:arial;font-size:12px;color:Black;text-decoration:none;">Music</p>
      </div>
    <center><h1 style="border-bottom:solid;border-bottom-width:thin;border-bottom-color:Black;width:90%;margin-left:10%;"></h1></center>
    <div style="margin-bottom:30px;margin-left:10px;"  id="item">
    <a style="margin-left:15%;margin-top:20px;font-family:arial;font-size:15px;color:Black;text-decoration:none;" href="https://itunes.apple.com/us/app/muzik-music-finder-streamer/id982511576?mt=8" >
      <img style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);height:80px; width:80px;border-radius:20%;" align="left" src="https://onuniverse-assets.imgix.net/D9CAD91C-3AE4-4BEA-996E-3CF5BFDC316E.jpg?w=200&q=40&dpr=2">Muzik</a>
      <p style="margin-left:35%;margin-top:20px;font-family:arial;font-size:12px;color:Black;text-decoration:none;">Music</p>
      </div>
    <center><h1 style="border-bottom:solid;border-bottom-width:thin;border-bottom-color:Black;width:90%;margin-left:10%;"></h1></center>
    <div style="margin-bottom:30px;margin-left:10px;"  id="item">
    <a style="margin-left:15%;margin-top:20px;font-family:arial;font-size:15px;color:Black;text-decoration:none;" href="https://itunes.apple.com/us/app/music-box/id1375284318?mt=8" >
      <img style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);height:80px; width:80px;border-radius:20%;" align="left" src="https://onuniverse-assets.imgix.net/9EA9973D-2547-46A9-A5DF-292EEB673982.jpg?w=200&q=40&dpr=2">MusicBox</a>
      <p style="margin-left:35%;margin-top:20px;font-family:arial;font-size:12px;color:Black;text-decoration:none;">Music</p>
      </div>
    <center><h1 style="border-bottom:solid;border-bottom-width:thin;border-bottom-color:Black;width:90%;margin-left:10%;"></h1></center>
    <div style="margin-bottom:30px;margin-left:10px;"  id="item">
    <a style="margin-left:15%;margin-top:20px;font-family:arial;font-size:15px;color:Black;text-decoration:none;" href="https://itunes.apple.com/us/app/my-music-player-mp3-music/id992011911?mt=8" >
      <img style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);height:80px; width:80px;border-radius:20%;" align="left" src="https://onuniverse-assets.imgix.net/4175C7F8-25E8-4823-AAB7-00F22AB56CAC.jpg?w=200&q=40&dpr=2">MyMusic</a>
      <p style="margin-left:35%;margin-top:20px;font-family:arial;font-size:12px;color:Black;text-decoration:none;">Music</p>
      </div>
    <center><h1 style="border-bottom:solid;border-bottom-width:thin;border-bottom-color:Black;width:90%;margin-left:10%;"></h1></center>
    <div style="margin-bottom:30px;margin-left:10px;"  id="item">
    <a style="margin-left:15%;margin-top:20px;font-family:arial;font-size:15px;color:Black;text-decoration:none;" href="https://itunes.apple.com/us/app/tubemate-music-tube-imusic/id1348733834?mt=8" >
      <img style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);height:80px; width:80px;border-radius:20%;" align="left" src="https://onuniverse-assets.imgix.net/58F4CD06-3340-4FFC-9CC0-65FAE2B096CF.jpg?w=200&q=40&dpr=2">TubeMate</a>
      <p style="margin-left:35%;margin-top:20px;font-family:arial;font-size:12px;color:Black;text-decoration:none;">Music</p>
      </div>
    <center><h1 style="border-bottom:solid;border-bottom-width:thin;border-bottom-color:Black;width:90%;margin-left:10%;"></h1></center>
    <div style="margin-bottom:30px;margin-left:10px;"  id="item">
    <a style="margin-left:15%;margin-top:20px;font-family:arial;font-size:15px;color:Black;text-decoration:none;" href="https://itunes.apple.com/us/app/music-player-mp3-music-play/id1385051669?mt=8" >
      <img style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);height:80px; width:80px;border-radius:20%;" align="left" src="https://onuniverse-assets.imgix.net/FF716478-8D84-4DC4-B3F1-79738FA4906E.jpg?w=200&q=40&dpr=2">MusicPlayer - MP3</a>
      <p style="margin-left:35%;margin-top:20px;font-family:arial;font-size:12px;color:Black;text-decoration:none;">Music</p>
      </div>
    <center><h1 style="border-bottom:solid;border-bottom-width:thin;border-bottom-color:Black;width:90%;margin-left:10%;"></h1></center>
    <div style="margin-bottom:30px;margin-left:10px;"  id="item">
    <a style="margin-left:15%;margin-top:20px;font-family:arial;font-size:15px;color:Black;text-decoration:none;" href="https://itunes.apple.com/us/app/music-player-play-music-tube/id1363000485?mt=8" >
      <img style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);height:80px; width:80px;border-radius:20%;" align="left" src="https://onuniverse-assets.imgix.net/15BF097C-B807-442E-848C-A9E90C214C46.jpg?w=200&q=40&dpr=2">MusicPlayer - Play Music</a>
      <p style="margin-left:35%;margin-top:20px;font-family:arial;font-size:12px;color:Black;text-decoration:none;">Music</p>
      </div>
    <center><h1 style="border-bottom:solid;border-bottom-width:thin;border-bottom-color:Black;width:90%;margin-left:10%;"></h1></center>
    <div style="margin-bottom:30px;margin-left:10px;"  id="item">
    <a style="margin-left:15%;margin-top:20px;font-family:arial;font-size:15px;color:Black;text-decoration:none;" href="https://itunes.apple.com/gb/app/music-player-unlimited-mp3/id1128761295?mt=8" >
      <img style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);height:80px; width:80px;border-radius:20%;" align="left" src="https://onuniverse-assets.imgix.net/12801AEB-3446-4130-84D2-9328F5083D3D.jpg?w=200&q=40&dpr=2">MusicPlayer - Unlimited</a>
      <p style="margin-left:35%;margin-top:20px;font-family:arial;font-size:12px;color:Black;text-decoration:none;">Music</p>
      </div>
    <center><h1 style="border-bottom:solid;border-bottom-width:thin;border-bottom-color:Black;width:90%;margin-left:10%;"></h1></center>
    <div style="margin-bottom:30px;margin-left:10px;"  id="item">
    <a style="margin-left:15%;margin-top:20px;font-family:arial;font-size:15px;color:Black;text-decoration:none;" href="https://itunes.apple.com/gb/app/music-player-with-mp3-by-musiofan/id1091613313?mt=8" >
      <img style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);height:80px; width:80px;border-radius:20%;" align="left" src="https://onuniverse-assets.imgix.net/0DFC0C83-DCD6-44E0-A7EB-5F47C42279BE.jpg?w=200&q=40&dpr=2">MusicPlayer MP3</a>
      <p style="margin-left:35%;margin-top:20px;font-family:arial;font-size:12px;color:Black;text-decoration:none;">Music</p>
      </div>
    <center><h1 style="border-bottom:solid;border-bottom-width:thin;border-bottom-color:Black;width:90%;margin-left:10%;"></h1></center>
    <div style="margin-bottom:30px;margin-left:10px;"  id="item">
    <a style="margin-left:15%;margin-top:20px;font-family:arial;font-size:15px;color:Black;text-decoration:none;" href="https://itunes.apple.com/gb/app/my-mp3-offline-music-player/id1332209607?mt=8" >
      <img style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);height:80px; width:80px;border-radius:20%;" align="left" src="https://onuniverse-assets.imgix.net/D7182C5A-A467-4D38-B561-1B4AFFF3A0A4.jpg?w=200&q=40&dpr=2">My MP3</a>
      <p style="margin-left:35%;margin-top:20px;font-family:arial;font-size:12px;color:Black;text-decoration:none;">Music</p>
      </div>
    <center><h1 style="border-bottom:solid;border-bottom-width:thin;border-bottom-color:Black;width:90%;margin-left:10%;"></h1></center>
    <div style="margin-bottom:30px;margin-left:10px;"  id="item">
    <a style="margin-left:15%;margin-top:20px;font-family:arial;font-size:15px;color:Black;text-decoration:none;" href="https://itunes.apple.com/gb/app/music-up-streaming-mp3-player/id1358597102?mt=8" >
      <img style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);height:80px; width:80px;border-radius:20%;" align="left" src="https://onuniverse-assets.imgix.net/B57C973E-FCA9-4802-9174-B5E8B1D9F535.jpg?w=200&q=40&dpr=2">Music Up</a>
      <p style="margin-left:35%;margin-top:20px;font-family:arial;font-size:12px;color:Black;text-decoration:none;">Music</p>
      </div>
    <center><h1 style="border-bottom:solid;border-bottom-width:thin;border-bottom-color:Black;width:90%;margin-left:10%;"></h1></center>
    <div style="margin-bottom:30px;margin-left:10px;"  id="item">
    <a style="margin-left:15%;margin-top:20px;font-family:arial;font-size:15px;color:Black;text-decoration:none;" href="https://itunes.apple.com/gb/app/monkingme-download-music/id1207004680?mt=8" >
      <img style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);height:80px; width:80px;border-radius:20%;" align="left" src="https://onuniverse-assets.imgix.net/0DA97EB1-2DCE-48B5-919A-B9CBC131280A.jpg?w=200&q=40&dpr=2">MonkingMe Music</a>
      <p style="margin-left:35%;margin-top:20px;font-family:arial;font-size:12px;color:Black;text-decoration:none;">Music</p>
    </div>
    <center><h1 style="border-bottom:solid;border-bottom-width:thin;border-bottom-color:Black;width:90%;margin-left:10%;"></h1></center>
    <div style="margin-bottom:30px;margin-left:10px;"  id="item">
    <a style="margin-left:15%;margin-top:20px;font-family:arial;font-size:15px;color:Black;text-decoration:none;" href="https://itunes.apple.com/gb/app/gorillaplayer-music-player/id1238115563?mt=8" >
      <img style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);height:80px; width:80px;border-radius:20%;" align="left" src="https://onuniverse-assets.imgix.net/F5773CE3-CFF2-4BF1-9597-0F0D0045BB3B.jpg?w=200&q=40&dpr=2">GorillaMusic</a>
      <p style="margin-left:35%;margin-top:20px;font-family:arial;font-size:12px;color:Black;text-decoration:none;">Music</p>
     </div>
    <center><h1 style="border-bottom:solid;border-bottom-width:thin;border-bottom-color:Black;width:90%;margin-left:10%;"></h1></center>
    <div style="margin-bottom:30px;margin-left:10px;"  id="item">
    <a style="margin-left:15%;margin-top:20px;font-family:arial;font-size:15px;color:Black;text-decoration:none;" href="https://itunes.apple.com/gb/app/audiomack-music-mixtape-app/id921765888?mt=8" >
      <img style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);height:80px; width:80px;border-radius:20%;" align="left" src="https://onuniverse-assets.imgix.net/5E49C29F-505B-4718-9A66-A61736744908.jpg?w=200&q=40&dpr=2">Audiomac Music</a>
      <p style="margin-left:35%;margin-top:20px;font-family:arial;font-size:12px;color:Black;text-decoration:none;">Music</p>
      </div>
    <center><h1 style="border-bottom:solid;border-bottom-width:thin;border-bottom-color:Black;width:90%;margin-left:10%;"></h1></center>
    <div style="margin-bottom:30px;margin-left:10px;"  id="item">
    <a style="margin-left:15%;margin-top:20px;font-family:arial;font-size:15px;color:Black;text-decoration:none;" href="https://itunes.apple.com/gb/app/ntertane-african-music/id1193938888?mt=8" >
      <img style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);height:80px; width:80px;border-radius:20%;" align="left" src="https://onuniverse-assets.imgix.net/988EE158-D8E6-4A98-A1DF-E5EF1ADA395E.jpg?w=200&q=40&dpr=2">Ntertane : African Music</a>
      <p style="margin-left:35%;margin-top:20px;font-family:arial;font-size:12px;color:Black;text-decoration:none;">Music</p>
      </div>
    <center><h1 style="border-bottom:solid;border-bottom-width:thin;border-bottom-color:Black;width:90%;margin-left:10%;"></h1></center>
    <div style="margin-bottom:30px;margin-left:10px;"  id="item">
    <a style="margin-left:15%;margin-top:20px;font-family:arial;font-size:15px;color:Black;text-decoration:none;" href="https://itunes.apple.com/us/app/bravo-video-music-player/id1337731710?mt=8" >
      <img style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);height:80px; width:80px;border-radius:20%;" align="left" src="https://onuniverse-assets.imgix.net/B0EDB565-8520-41C5-BB2A-2FA70DEAE07F.jpg?w=200&q=40&dpr=2">Bravo</a>
      <p style="margin-left:35%;margin-top:20px;font-family:arial;font-size:12px;color:Black;text-decoration:none;">Music</p>
      </div>
    <center><h1 style="border-bottom:solid;border-bottom-width:thin;border-bottom-color:Black;width:90%;margin-left:10%;"></h1></center>
    <div style="margin-bottom:30px;margin-left:10px;"  id="item">
    <a style="margin-left:15%;margin-top:20px;font-family:arial;font-size:15px;color:Black;text-decoration:none;" href="https://itunes.apple.com/us/app/unlimited-music-hq/id1120895631?mt=8" >
      <img style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);height:80px; width:80px;border-radius:20%;" align="left" src="https://onuniverse-assets.imgix.net/A9EB8EF7-C8A7-4811-92DC-5F56D8CA2F4C.jpg?w=200&q=40&dpr=2">Unlimited Music HQ</a>
      <p style="margin-left:35%;margin-top:20px;font-family:arial;font-size:12px;color:Black;text-decoration:none;">Music</p>
      </div>
    <center><h1 style="border-bottom:solid;border-bottom-width:thin;border-bottom-color:Black;width:90%;margin-left:10%;"></h1></center>
    <div style="margin-bottom:30px;margin-left:10px;"  id="item">
    <a style="margin-left:15%;margin-top:20px;font-family:arial;font-size:15px;color:Black;text-decoration:none;" href="https://itunes.apple.com/us/app/music-tube-music-video-play/id1040036079?mt=8" >
      <img style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);height:80px; width:80px;border-radius:20%;" align="left" src="https://onuniverse-assets.imgix.net/63180292-B633-45B5-BB7E-3A1BC06FC0D5.jpg?w=200&q=40&dpr=2">Music Tube</a>
      <p style="margin-left:35%;margin-top:20px;font-family:arial;font-size:12px;color:Black;text-decoration:none;">Music</p>
      </div>
    <center><h1 style="border-bottom:solid;border-bottom-width:thin;border-bottom-color:Black;width:90%;margin-left:10%;"></h1></center>
    <div style="margin-bottom:30px;margin-left:10px;"  id="item">
    <a style="margin-left:15%;margin-top:20px;font-family:arial;font-size:15px;color:Black;text-decoration:none;" href="https://itunes.apple.com/us/app/music-cloud-play-mp3-offline/id1289293705?mt=8" >
      <img style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);height:80px; width:80px;border-radius:20%;" align="left" src="https://onuniverse-assets.imgix.net/72E6630D-A0C3-4AEA-9776-FE4826703818.jpg?w=200&q=40&dpr=2">Music Cloud</a>
      <p style="margin-left:35%;margin-top:20px;font-family:arial;font-size:12px;color:Black;text-decoration:none;">Music</p>
    </div>
    <center><h1 style="border-bottom:solid;border-bottom-width:thin;border-bottom-color:Black;width:90%;margin-left:10%;"></h1></center>
    <div style="margin-bottom:30px;margin-left:10px;"  id="item">
    <a style="margin-left:15%;margin-top:20px;font-family:arial;font-size:15px;color:Black;text-decoration:none;" href="https://itunes.apple.com/us/app/musicbox-enjoy-music/id1333390435?mt=8" >
      <img style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);height:80px; width:80px;border-radius:20%;" align="left" src="https://onuniverse-assets.imgix.net/44C48671-9A06-438C-A199-B8A6B82E00E2.jpg?w=200&q=40&dpr=2">MusicBox</a>
      <p style="margin-left:35%;margin-top:20px;font-family:arial;font-size:12px;color:Black;text-decoration:none;">Music</p>
      </div>
    <center><h1 style="border-bottom:solid;border-bottom-width:thin;border-bottom-color:Black;width:90%;margin-left:10%;"></h1></center>
    <div style="margin-bottom:30px;margin-left:10px;"  id="item">
    <a style="margin-left:15%;margin-top:20px;font-family:arial;font-size:15px;color:Black;text-decoration:none;" href="https://itunes.apple.com/us/app/trending-offline-music-player/id1380563029?mt=8" >
      <img style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);height:80px; width:80px;border-radius:20%;" align="left" src="https://onuniverse-assets.imgix.net/4645B716-BEF9-4334-AC38-EFC1ADE51616.jpg?w=200&q=40&dpr=2">Trending Music Offline</a>
      <p style="margin-left:35%;margin-top:20px;font-family:arial;font-size:12px;color:Black;text-decoration:none;">Music</p>
      </div>
    <center><h1 style="border-bottom:solid;border-bottom-width:thin;border-bottom-color:Black;width:90%;margin-left:10%;"></h1></center>
    <div style="margin-bottom:30px;margin-left:10px;"  id="item">
    <a style="margin-left:15%;margin-top:20px;font-family:arial;font-size:15px;color:Black;text-decoration:none;" href="https://itunes.apple.com/us/app/tubemusic-music-video-player/id1289134991?mt=8" >
      <img style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);height:80px; width:80px;border-radius:20%;" align="left" src="https://onuniverse-assets.imgix.net/68AC438D-405E-4401-B216-CE498394805E.jpg?w=200&q=40&dpr=2">TubeMusic</a>
      <p style="margin-left:35%;margin-top:20px;font-family:arial;font-size:12px;color:Black;text-decoration:none;">Music</p>
      </div>
    <center><h1 style="border-bottom:solid;border-bottom-width:thin;border-bottom-color:Black;width:90%;margin-left:10%;"></h1></center>
    <div style="margin-bottom:30px;margin-left:10px;"  id="item">
    <a style="margin-left:15%;margin-top:20px;font-family:arial;font-size:15px;color:Black;text-decoration:none;" href="https://itunes.apple.com/us/app/player-gr/id1327301566?mt=8" >
      <img style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);height:80px; width:80px;border-radius:20%;" align="left" src="https://onuniverse-assets.imgix.net/54960ED9-991B-4EB6-ADCD-C7ADF85A58C5.jpg?w=200&q=40&dpr=2">PlayerGR-@Applepro_MUU </a>
      <p style="margin-left:35%;margin-top:20px;font-family:arial;font-size:12px;color:Black;text-decoration:none;">Music</p>
      </div>
    <center><h1 style="border-bottom:solid;border-bottom-width:thin;border-bottom-color:Black;width:90%;margin-left:10%;"></h1></center>
    <div style="margin-bottom:30px;margin-left:10px;"  id="item">
    <a style="margin-left:15%;margin-top:20px;font-family:arial;font-size:15px;color:Black;text-decoration:none;" href="https://itunes.apple.com/ca/app/fr%D0%B5%D0%B5-%D0%BCusi%D1%81-unlimit%D0%B5d-s%D0%BEngs/id1305076480?mt=8" >
      <img style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);height:80px; width:80px;border-radius:20%;" align="left" src="https://onuniverse-assets.imgix.net/BEBB4DAB-5981-407B-A522-F271EB9F6B57.jpg?w=200&q=40&dpr=2">FreeMusic</a>
      <p style="margin-left:35%;margin-top:20px;font-family:arial;font-size:12px;color:Black;text-decoration:none;">Music</p>
      </div>
    <center><h1 style="border-bottom:solid;border-bottom-width:thin;border-bottom-color:Black;width:90%;margin-left:10%;"></h1></center>
    <div style="margin-bottom:30px;margin-left:10px;"  id="item">
    <a style="margin-left:15%;margin-top:20px;font-family:arial;font-size:15px;color:Black;text-decoration:none;" href="https://itunes.apple.com/ca/app/fr%D0%B5%D0%B5-%D0%BCusic-%D0%BEfflin%D0%B5-%D0%BCusi%D1%81-s%D0%B0v%D0%B5/id1326166433?mt=8" >
      <img style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);height:80px; width:80px;border-radius:20%;" align="left" src="https://onuniverse-assets.imgix.net/93D8CCC0-56F2-4F3B-982A-386EE32B7867.jpg?w=200&q=40&dpr=2">FreeMusic-Offline</a>
      <p style="margin-left:35%;margin-top:20px;font-family:arial;font-size:12px;color:Black;text-decoration:none;">Music</p>
      </div>
    <center><h1 style="border-bottom:solid;border-bottom-width:thin;border-bottom-color:Black;width:90%;margin-left:10%;"></h1></center>
    <div style="margin-bottom:30px;margin-left:10px;"  id="item">
    <a style="margin-left:15%;margin-top:20px;font-family:arial;font-size:15px;color:Black;text-decoration:none;" href="https://itunes.apple.com/ca/app/fr%D0%B5%D0%B5-%D0%BCusi%D1%81-%D0%BEfflin%D0%B5-s%D0%BEngs-%D0%BC%D1%80%D0%B7/id1291896088?mt=8" >
      <img style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);height:80px; width:80px;border-radius:20%;" align="left" src="https://onuniverse-assets.imgix.net/1D5941BD-5B56-4AD5-97A1-0AA8CB5F384B.jpg?w=200&q=40&dpr=2">FreeMusic-OfflineMP3</a>
      <p style="margin-left:35%;margin-top:20px;font-family:arial;font-size:12px;color:Black;text-decoration:none;">Music</p>
      </div>
    <center><h1 style="border-bottom:solid;border-bottom-width:thin;border-bottom-color:Black;width:90%;margin-left:10%;"></h1></center>
    <div style="margin-bottom:30px;margin-left:10px;"  id="item">
    <a style="margin-left:15%;margin-top:20px;font-family:arial;font-size:15px;color:Black;text-decoration:none;" href="https://itunes.apple.com/ca/app/fr%D0%B5%D0%B5-%D0%BCusi%D1%81-%D0%BEfflin%D0%B5-unlimit%D0%B5d/id1294715519?mt=8" >
      <img style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);height:80px; width:80px;border-radius:20%;" align="left" src="https://onuniverse-assets.imgix.net/131914D4-CF2F-41AC-88FB-1FA2A7111456.jpg?w=200&q=40&dpr=2">FreeMusic-OfflineUniverse</a>
      <p style="margin-left:35%;margin-top:20px;font-family:arial;font-size:12px;color:Black;text-decoration:none;">Music</p>
      </div>
    <center><h1 style="border-bottom:solid;border-bottom-width:thin;border-bottom-color:Black;width:90%;margin-left:10%;"></h1></center>
    <div style="margin-bottom:30px;margin-left:10px;"  id="item">
    <a style="margin-left:15%;margin-top:20px;font-family:arial;font-size:15px;color:Black;text-decoration:none;" href="https://itunes.apple.com/ca/app/musica-fm-online-unlimited/id1321514354?mt=8" >
      <img style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);height:80px; width:80px;border-radius:20%;" align="left" src="https://onuniverse-assets.imgix.net/1FC8993F-734E-41E5-A532-14E898A924F9.jpg?w=200&q=40&dpr=2">MusicaOnline</a>
      <p style="margin-left:35%;margin-top:20px;font-family:arial;font-size:12px;color:Black;text-decoration:none;">Music</p>
      </div>
    <center><h1 style="border-bottom:solid;border-bottom-width:thin;border-bottom-color:Black;width:90%;margin-left:10%;"></h1></center>
    <div style="margin-bottom:30px;margin-left:10px;"  id="item">
    <a style="margin-left:15%;margin-top:20px;font-family:arial;font-size:15px;color:Black;text-decoration:none;" href="https://itunes.apple.com/ca/app/audify-music-mp3-offline/id1324956812?mt=8" >
      <img style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);height:80px; width:80px;border-radius:20%;" align="left" src="https://onuniverse-assets.imgix.net/B03351D4-C223-4F38-8F33-AEC6EDB1815B.jpg?w=200&q=40&dpr=2">Audify Offline</a>
      <p style="margin-left:35%;margin-top:20px;font-family:arial;font-size:12px;color:Black;text-decoration:none;">Music</p>
      </div>
    <center><h1 style="border-bottom:solid;border-bottom-width:thin;border-bottom-color:Black;width:90%;margin-left:10%;"></h1></center>
    <div style="margin-bottom:30px;margin-left:10px;"  id="item">
    <a style="margin-left:15%;margin-top:20px;font-family:arial;font-size:15px;color:Black;text-decoration:none;" href="https://itunes.apple.com/gb/app/sobaka/id1351489785?mt=8" >
      <img style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);height:80px; width:80px;border-radius:20%;" align="left" src="https://onuniverse-assets.imgix.net/2B8BB8BC-6463-4AE5-B5F8-5AC2B83773A4.jpg?w=200&q=40&dpr=2">Sobaka</a>
      <p style="margin-left:35%;margin-top:20px;font-family:arial;font-size:12px;color:Black;text-decoration:none;">Music</p>
      </div>
    <center><h1 style="border-bottom:solid;border-bottom-width:thin;border-bottom-color:Black;width:90%;margin-left:10%;"></h1></center>
    <div style="margin-bottom:30px;margin-left:10px;"  id="item">
    <a style="margin-left:15%;margin-top:20px;font-family:arial;font-size:15px;color:Black;text-decoration:none;" href="https://itunes.apple.com/gb/app/trending-music/id1139055265?mt=8" >
      <img style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);height:80px; width:80px;border-radius:20%;" align="left" src="https://onuniverse-assets.imgix.net/A32D6EBE-FA56-4239-9DB7-68A6F86CF52A.jpg?w=200&q=40&dpr=2">Trending Music</a>
      <p style="margin-left:35%;margin-top:20px;font-family:arial;font-size:12px;color:Black;text-decoration:none;">Music</p>
    </div>
    <center><h1 style="border-bottom:solid;border-bottom-width:thin;border-bottom-color:Black;width:100%;"></h1></center>
    </div>

  </ion-content>
</ion-view>
