<ion-view title="Promotions" id="page11" class="nav1">
  <ion-content padding="false" class="has-header">

    <center><img style="width:60%; margin:10px;" src="https://onuniverse-assets.imgix.net/92CEEE39-21ED-4BB0-8067-87F7505B16A1.jpg?w=1000&q=40&dpr=1"></img></center>

    <br>
    <div >
        <center><h1 style="border-bottom:solid;border-bottom-width:thin;border-bottom-color:Black;width:100%;"></h1></center>
        <center><p style="font-family:arial;font-size:15px;color:Black;">These are promotions of cool apps and other stuff by developers </p></center>
        <center><h1 style="border-bottom:solid;border-bottom-width:thin;border-bottom-color:Black;width:100%;"></h1></center>
    </div>
    <br>
    <div >
      <center><h1 style="border-bottom:solid;border-bottom-width:thin;border-bottom-color:Black;width:100%;"></h1></center>

      <div style="margin-bottom:30px;margin-left:10px;"  id="item">
        <a style="margin-left:15%;margin-top:20px;font-family:arial;font-size:15px;color:Black;text-decoration:none;" href="http://itweakos.cf" >
          <img style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);height:80px; width:80px;border-radius:20%;" align="left" src="https://apicaspyt.weebly.com/uploads/9/7/7/6/97764234/joker.jpg">iTweakOS</a>
          <p style="margin-left:35%;margin-top:20px;font-family:arial;font-size:12px;color:Black;text-decoration:none;">Cydia Alternative</p>
      </div>
      <center><h1 style="border-bottom:solid;border-bottom-width:thin;border-bottom-color:Black;width:90%;margin-left:10%;"></h1></center>
      <div style="margin-bottom:30px;margin-left:10px;"  id="item">
        <a style="margin-left:15%;margin-top:20px;font-family:arial;font-size:15px;color:Black;text-decoration:none;" href="http://paypal.me/winterbagley" >
          <img style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);height:80px; width:80px;border-radius:50%;" align="left" src="https://pics.paypal.com/00/p/YTg0MDc1YTQtNjEzMC00NmU3LWE1ZWMtODM3OGZhYzZiMDMw/image_32.jpg">Donate</a>
          <p style="margin-left:35%;margin-top:20px;font-family:arial;font-size:12px;color:Black;text-decoration:none;">iTweakOS</p>
      </div>
      <center><h1 style="border-bottom:solid;border-bottom-width:thin;border-bottom-color:Black;width:100%;"></h1></center>

    </div>
    <br>
    <div >
      <center><h1 style="border-bottom:solid;border-bottom-width:thin;border-bottom-color:Black;width:100%;"></h1></center>

      <div style="margin-bottom:30px;margin-left:10px;"  id="item">
        <a style="margin-left:15%;margin-top:20px;font-family:arial;font-size:15px;color:Black;text-decoration:none;" href="http://encryptmychat.us/" >
          <img style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);height:80px; width:80px;border-radius:20%;" align="left" src="https://onuniverse-assets.imgix.net/B32D69CA-6E9A-436D-A7F7-7DD4AC81315B.jpg?w=600&q=40&dpr=1">EncryptMyChat</a>
          <p style="margin-left:35%;margin-top:20px;font-family:arial;font-size:12px;color:Black;text-decoration:none;">Hidden Chat Rooms</p>
      </div>
      <center><h1 style="border-bottom:solid;border-bottom-width:thin;border-bottom-color:Black;width:100%;"></h1></center>

    </div>

  </ion-content>
</ion-view>
