<ion-view title="SR/LS" id="page5" class="nav1">
  <ion-content padding="false" class="has-header">

    <center><img style="width:70%; margin:10px;" src="https://onuniverse-assets.imgix.net/6880FBAF-D8E6-44EA-97C9-0832A4384630.jpg?w=400&q=40&dpr=2"></img></center>

  <br>

  <div >
  <center><h1 style="border-bottom:solid;border-bottom-width:thin;border-bottom-color:Black;width:100%;"></h1></center>

  <div style="margin-bottom:30px;margin-left:10px;"  id="item">
    <a style="margin-left:15%;margin-top:20px;font-family:arial;font-size:15px;color:Black;text-decoration:none;" href="http://itunes.apple.com/us/app/record-my-screen-recorder-go/id1263390951?mt=8" >
      <img style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);height:80px; width:80px;border-radius:20%;" align="left" src="https://onuniverse-assets.imgix.net/3F99EC9E-654A-4246-BFCB-5F903840C69E.jpg?w=200&q=40&dpr=1">Record My Screen</a>
      <p style="margin-left:35%;margin-top:20px;font-family:arial;font-size:12px;color:Black;text-decoration:none;">SR/LS</p>
  </div>
  <center><h1 style="border-bottom:solid;border-bottom-width:thin;border-bottom-color:Black;width:90%;margin-left:10%;"></h1></center>
  <div style="margin-bottom:30px;margin-left:10px;"  id="item">
    <a style="margin-left:15%;margin-top:20px;font-family:arial;font-size:15px;color:Black;text-decoration:none;" href="http://itunes.apple.com/us/app/display-screen-recorder/id733452098?mt=8" >
      <img style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);height:80px; width:80px;border-radius:20%;" align="left" src="https://onuniverse-assets.imgix.net/894499AC-D277-4286-B453-D79F7E9D432E.jpg?w=200&q=40&dpr=1">Display-Screen Record</a>
      <p style="margin-left:35%;margin-top:20px;font-family:arial;font-size:12px;color:Black;text-decoration:none;">SR/LS</p>
  </div>
  <center><h1 style="border-bottom:solid;border-bottom-width:thin;border-bottom-color:Black;width:90%;margin-left:10%;"></h1></center>
  <div style="margin-bottom:30px;margin-left:10px;"  id="item">
    <a style="margin-left:15%;margin-top:20px;font-family:arial;font-size:15px;color:Black;text-decoration:none;" href="http://itunes.apple.com/us/app/go-record-screen-recorder/id1345200849?mt=8" >
      <img style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);height:80px; width:80px;border-radius:20%;" align="left" src="https://onuniverse-assets.imgix.net/7D7DEEF3-E069-43DA-8216-9F978B0105FC.jpg?w=200&q=40&dpr=1">Go Record</a>
      <p style="margin-left:35%;margin-top:20px;font-family:arial;font-size:12px;color:Black;text-decoration:none;">SR/LS</p>
  </div>
  <center><h1 style="border-bottom:solid;border-bottom-width:thin;border-bottom-color:Black;width:90%;margin-left:10%;"></h1></center>
  <div style="margin-bottom:30px;margin-left:10px;"  id="item">
    <a style="margin-left:15%;margin-top:20px;font-family:arial;font-size:15px;color:Black;text-decoration:none;" href="http://itunes.apple.com/us/app/record-it-screen-capture/id1245356545?mt=8" >
      <img style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);height:80px; width:80px;border-radius:20%;" align="left" src="https://onuniverse-assets.imgix.net/6F0C204E-5936-4D65-8652-A6EEC6DDA23F.jpg?w=200&q=40&dpr=1">Record It</a>
      <p style="margin-left:35%;margin-top:20px;font-family:arial;font-size:12px;color:Black;text-decoration:none;">SR/LS</p>
  </div>
  <center><h1 style="border-bottom:solid;border-bottom-width:thin;border-bottom-color:Black;width:90%;margin-left:10%;"></h1></center>
  <div style="margin-bottom:30px;margin-left:10px;"  id="item">
    <a style="margin-left:15%;margin-top:20px;font-family:arial;font-size:15px;color:Black;text-decoration:none;" href="http://itunes.apple.com/us/app/everycord-record-broadcast/id1336328583?mt=8" >
      <img style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);height:80px; width:80px;border-radius:20%;" align="left" src="https://onuniverse-assets.imgix.net/62631B83-567E-49F5-BF4E-EBA769C3D16C.jpg?w=200&q=40&dpr=1">Everycord</a>
      <p style="margin-left:35%;margin-top:20px;font-family:arial;font-size:12px;color:Black;text-decoration:none;">SR/LS</p>
  </div>
  <center><h1 style="border-bottom:solid;border-bottom-width:thin;border-bottom-color:Black;width:90%;margin-left:10%;"></h1></center>
  <div style="margin-bottom:30px;margin-left:10px;"  id="item">
    <a style="margin-left:15%;margin-top:20px;font-family:arial;font-size:15px;color:Black;text-decoration:none;" href="http://itunes.apple.com/us/app/techsmith-capture/id1266321056?mt=8" >
      <img style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);height:80px; width:80px;border-radius:20%;" align="left" src="https://onuniverse-assets.imgix.net/FFB28584-6D7F-41E2-9814-3EEE22C38F03.jpg?w=200&q=40&dpr=1">Techsmith Capture</a>
      <p style="margin-left:35%;margin-top:20px;font-family:arial;font-size:12px;color:Black;text-decoration:none;">SR/LS</p>
  </div>
  <center><h1 style="border-bottom:solid;border-bottom-width:thin;border-bottom-color:Black;width:90%;margin-left:10%;"></h1></center>
  <div style="margin-bottom:30px;margin-left:10px;"  id="item">
    <a style="margin-left:15%;margin-top:20px;font-family:arial;font-size:15px;color:Black;text-decoration:none;" href="http://itunes.apple.com/us/app/gocreate-smart-video-editor/id1324952809?mt=8" >
      <img style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);height:80px; width:80px;border-radius:20%;" align="left" src="https://onuniverse-assets.imgix.net/687DC640-13F7-49F2-8897-92504F11310B.jpg?w=200&q=40&dpr=1">Go Create</a>
      <p style="margin-left:35%;margin-top:20px;font-family:arial;font-size:12px;color:Black;text-decoration:none;">SR/LS</p>
  </div>
  <center><h1 style="border-bottom:solid;border-bottom-width:thin;border-bottom-color:Black;width:90%;margin-left:10%;"></h1></center>
  <div style="margin-bottom:30px;margin-left:10px;"  id="item">
    <a style="margin-left:15%;margin-top:20px;font-family:arial;font-size:15px;color:Black;text-decoration:none;" href="http://itunes.apple.com/us/app/du-recorder-live/id1295647284?mt=8" >
      <img style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);height:80px; width:80px;border-radius:20%;" align="left" src="https://onuniverse-assets.imgix.net/2F9C1DAF-5DA5-49DB-A60F-5CE13F8798CB.jpg?w=200&q=40&dpr=1">Du Record Live</a>
      <p style="margin-left:35%;margin-top:20px;font-family:arial;font-size:12px;color:Black;text-decoration:none;">SR/LS</p>
  </div>
  <center><h1 style="border-bottom:solid;border-bottom-width:thin;border-bottom-color:Black;width:90%;margin-left:10%;"></h1></center>
  <div style="margin-bottom:30px;margin-left:10px;"  id="item">
    <a style="margin-left:15%;margin-top:20px;font-family:arial;font-size:15px;color:Black;text-decoration:none;" href="http://itunes.apple.com/us/app/twitcasting-live/id352756035?mt=8" >
      <img style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);height:80px; width:80px;border-radius:20%;" align="left" src="https://onuniverse-assets.imgix.net/1E36F3F2-9B80-4B2F-BB49-655DFD6F4B13.jpg?w=200&q=40&dpr=1">Twit caster Live</a>
      <p style="margin-left:35%;margin-top:20px;font-family:arial;font-size:12px;color:Black;text-decoration:none;">SR/LS</p>
  </div>
  <center><h1 style="border-bottom:solid;border-bottom-width:thin;border-bottom-color:Black;width:90%;margin-left:10%;"></h1></center>
  <div style="margin-bottom:30px;margin-left:10px;"  id="item">
    <a style="margin-left:15%;margin-top:20px;font-family:arial;font-size:15px;color:Black;text-decoration:none;" href="http://itunes.apple.com/us/app/screenleap-screen-sharing/id1233079037?mt=8" >
      <img style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);height:80px; width:80px;border-radius:20%;" align="left" src="https://onuniverse-assets.imgix.net/F4410A2D-2C49-4EE9-A6D0-01DBBD758A9F.jpg?w=200&q=40&dpr=1">Screen Leap</a>
      <p style="margin-left:35%;margin-top:20px;font-family:arial;font-size:12px;color:Black;text-decoration:none;">SR/LS</p>
  </div>
  <center><h1 style="border-bottom:solid;border-bottom-width:thin;border-bottom-color:Black;width:90%;margin-left:10%;"></h1></center>
  <div style="margin-bottom:30px;margin-left:10px;"  id="item">
    <a style="margin-left:15%;margin-top:20px;font-family:arial;font-size:15px;color:Black;text-decoration:none;" href="http://itunes.apple.com/us/app/screen-recorder-video-record/id1380506650?mt=8" >
      <img style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);height:80px; width:80px;border-radius:20%;" align="left" src="https://onuniverse-assets.imgix.net/E5A34459-B512-4A63-B768-8CDDDA3A55DE.jpg?w=200&q=40&dpr=1">Screen recorder</a>
      <p style="margin-left:35%;margin-top:20px;font-family:arial;font-size:12px;color:Black;text-decoration:none;">SR/LS</p>
      </div>
  <center><h1 style="border-bottom:solid;border-bottom-width:thin;border-bottom-color:Black;width:90%;margin-left:10%;"></h1></center>
  <div style="margin-bottom:30px;margin-left:10px;"  id="item">
    <a style="margin-left:15%;margin-top:20px;font-family:arial;font-size:15px;color:Black;text-decoration:none;" href="https://itunes.apple.com/gb/app/omlet-arcade/id1152185878?mt=8" >
      <img style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);height:80px; width:80px;border-radius:20%;" align="left" src="https://onuniverse-assets.imgix.net/8FE4332A-E648-435A-A3B8-3BD8A5C3D6BA.jpg?w=200&q=40&dpr=2">Omlet Arcade - Live Stream</a>
      <p style="margin-left:35%;margin-top:20px;font-family:arial;font-size:12px;color:Black;text-decoration:none;">SR/LS</p>
      </div>
  <center><h1 style="border-bottom:solid;border-bottom-width:thin;border-bottom-color:Black;width:90%;margin-left:10%;"></h1></center>
  <div style="margin-bottom:30px;margin-left:10px;"  id="item">
    <a style="margin-left:15%;margin-top:20px;font-family:arial;font-size:15px;color:Black;text-decoration:none;" href="https://itunes.apple.com/gb/app/screen-recorder-backup-record/id1387924509?mt=8" >
      <img style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);height:80px; width:80px;border-radius:20%;" align="left" src="https://onuniverse-assets.imgix.net/EA7EEC7D-840F-4BD2-975E-0D8BA3EC7922.jpg?w=200&q=40&dpr=2">Screen Recorder</a>
      <p style="margin-left:35%;margin-top:20px;font-family:arial;font-size:12px;color:Black;text-decoration:none;">SR/LS</p>
      </div>
  <center><h1 style="border-bottom:solid;border-bottom-width:thin;border-bottom-color:Black;width:90%;margin-left:10%;"></h1></center>
  <div style="margin-bottom:30px;margin-left:10px;"  id="item">
    <a style="margin-left:15%;margin-top:20px;font-family:arial;font-size:15px;color:Black;text-decoration:none;" href="https://itunes.apple.com/gb/app/techsmith-capture/id1266321056?mt=8" >
      <img style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);height:80px; width:80px;border-radius:20%;" align="left" src="https://onuniverse-assets.imgix.net/EB166F77-519C-4AAA-B367-EF23B0A58784.jpg?w=200&q=40&dpr=2">Techsmith Capture</a>
      <p style="margin-left:35%;margin-top:20px;font-family:arial;font-size:12px;color:Black;text-decoration:none;">SR/LS</p>
      </div>
  <center><h1 style="border-bottom:solid;border-bottom-width:thin;border-bottom-color:Black;width:90%;margin-left:10%;"></h1></center>
  <div style="margin-bottom:30px;margin-left:10px;"  id="item">
    <a style="margin-left:15%;margin-top:20px;font-family:arial;font-size:15px;color:Black;text-decoration:none;" href="https://itunes.apple.com/gb/app/screen-recorder-web-capture/id1386014340?mt=8" >
      <img style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);height:80px; width:80px;border-radius:20%;" align="left" src="https://onuniverse-assets.imgix.net/BF71C2E3-2F9C-4F9A-A18C-2AEAF819485D.jpg?w=200&q=40&dpr=2">ScreenRecorder-WebCapture</a>
      <p style="margin-left:35%;margin-top:20px;font-family:arial;font-size:12px;color:Black;text-decoration:none;">SR/LS</p>
      </div>
  <center><h1 style="border-bottom:solid;border-bottom-width:thin;border-bottom-color:Black;width:90%;margin-left:10%;"></h1></center>
  <div style="margin-bottom:30px;margin-left:10px;"  id="item">
    <a style="margin-left:15%;margin-top:20px;font-family:arial;font-size:15px;color:Black;text-decoration:none;" href="https://itunes.apple.com/gb/app/wegamers/id1114666260?mt=8" >
      <img style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);height:80px; width:80px;border-radius:20%;" align="left" src="https://onuniverse-assets.imgix.net/5062D0BC-50C9-4DE0-8CD5-295CAAEE60A5.jpg?w=200&q=40&dpr=2">WeGamers</a>
      <p style="margin-left:35%;margin-top:20px;font-family:arial;font-size:12px;color:Black;text-decoration:none;">SR/LS</p>
      </div>
  <center><h1 style="border-bottom:solid;border-bottom-width:thin;border-bottom-color:Black;width:90%;margin-left:10%;"></h1></center>
  <div style="margin-bottom:30px;margin-left:10px;"  id="item">
    <a style="margin-left:15%;margin-top:20px;font-family:arial;font-size:15px;color:Black;text-decoration:none;" href="https://itunes.apple.com/gb/app/mixer-create/id1237889246?mt=8" >
      <img style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);height:80px; width:80px;border-radius:20%;" align="left" src="https://onuniverse-assets.imgix.net/7D0C879A-713D-4561-8D27-FD6B5949FD8A.jpg?w=200&q=40&dpr=2">MixerCreat</a>
      <p style="margin-left:35%;margin-top:20px;font-family:arial;font-size:12px;color:Black;text-decoration:none;">SR/LS</p>
      </div>
  <center><h1 style="border-bottom:solid;border-bottom-width:thin;border-bottom-color:Black;width:90%;margin-left:10%;"></h1></center>
  <div style="margin-bottom:30px;margin-left:10px;"  id="item">
    <a style="margin-left:15%;margin-top:20px;font-family:arial;font-size:15px;color:Black;text-decoration:none;" href="https://itunes.apple.com/gb/app/mirrativ/id1028944599?mt=8" >
      <img style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);height:80px; width:80px;border-radius:20%;" align="left" src="https://onuniverse-assets.imgix.net/E8380E22-6123-4B67-85B0-550DB685DE8F.jpg?w=200&q=40&dpr=2">Mirrativ</a>
      <p style="margin-left:35%;margin-top:20px;font-family:arial;font-size:12px;color:Black;text-decoration:none;">SR/LS</p>
      </div>
  <center><h1 style="border-bottom:solid;border-bottom-width:thin;border-bottom-color:Black;width:90%;margin-left:10%;"></h1></center>
  <div style="margin-bottom:30px;margin-left:10px;"  id="item">
    <a style="margin-left:15%;margin-top:20px;font-family:arial;font-size:15px;color:Black;text-decoration:none;" href="https://itunes.apple.com/gb/app/streamcraft-live-game-stream/id1306553607?mt=8" >
      <img style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);height:80px; width:80px;border-radius:20%;" align="left" src="https://onuniverse-assets.imgix.net/79003F08-A6BE-4EEA-AC48-E92E03A2A349.jpg?w=200&q=40&dpr=2">StreamCast</a>
      <p style="margin-left:35%;margin-top:20px;font-family:arial;font-size:12px;color:Black;text-decoration:none;">SR/LS</p>
      </div>
  <center><h1 style="border-bottom:solid;border-bottom-width:thin;border-bottom-color:Black;width:90%;margin-left:10%;"></h1></center>
  <div style="margin-bottom:30px;margin-left:10px;"  id="item">
    <a style="margin-left:15%;margin-top:20px;font-family:arial;font-size:15px;color:Black;text-decoration:none;" href="https://itunes.apple.com/gb/app/mobcrush-livestream-games/id1059046847?mt=8" >
      <img style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);height:80px; width:80px;border-radius:20%;" align="left" src="https://onuniverse-assets.imgix.net/6C184831-9EA6-42EA-8548-DC23B64A5644.jpg?w=200&q=40&dpr=2">MobaCrush</a>
      <p style="margin-left:35%;margin-top:20px;font-family:arial;font-size:12px;color:Black;text-decoration:none;">SR/LS</p>
  </div>
  <center><h1 style="border-bottom:solid;border-bottom-width:thin;border-bottom-color:Black;width:100%;"></h1></center>
  </div>

  </ion-content>
</ion-view>
