<ion-view title="Video Downloaders" id="page7" class="nav1">
  <ion-content padding="false" class="has-header">

    <center><img style="width:60%; margin:10px;" src="https://onuniverse-assets.imgix.net/CE49F150-D145-4F21-A650-58DA2955BC7E.jpg?w=400&q=40&dpr=2"></img></center>

    <br>

    <div >
    <center><h1 style="border-bottom:solid;border-bottom-width:thin;border-bottom-color:Black;width:100%;"></h1></center>

    <div style="margin-bottom:30px;margin-left:10px;"  id="item">
    <a style="margin-left:15%;margin-top:20px;font-family:arial;font-size:15px;color:Black;text-decoration:none;" href="http://itunes.apple.com/us/app/documents-by-readdle/id364901807?mt=8" >
      <img style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);height:80px; width:80px;border-radius:20%;" align="left" src="https://onuniverse-assets.imgix.net/719275F9-78B3-4F94-900A-81FF4BBCCD19.jpg?w=200&q=40&dpr=1">Documents</a>
      <p style="margin-left:35%;margin-top:20px;font-family:arial;font-size:12px;color:Black;text-decoration:none;">Video DL</p>
    </div>
    <center><h1 style="border-bottom:solid;border-bottom-width:thin;border-bottom-color:Black;width:90%;margin-left:10%;"></h1></center>
    <div style="margin-bottom:30px;margin-left:10px;"  id="item">
    <a style="margin-left:15%;margin-top:20px;font-family:arial;font-size:15px;color:Black;text-decoration:none;" href="http://itunes.apple.com/us/app/tuda-video-file-manager-for-clouds/id1267234851?mt=8" >
      <img style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);height:80px; width:80px;border-radius:20%;" align="left" src="https://onuniverse-assets.imgix.net/F4A7817A-9357-4F47-ADEE-F450CDB4CE72.jpg?w=200&q=40&dpr=1">Tuda Video manager</a>
      <p style="margin-left:35%;margin-top:20px;font-family:arial;font-size:12px;color:Black;text-decoration:none;">Video DL</p>
    </div>
    <center><h1 style="border-bottom:solid;border-bottom-width:thin;border-bottom-color:Black;width:90%;margin-left:10%;"></h1></center>
    <div style="margin-bottom:30px;margin-left:10px;"  id="item">
    <a style="margin-left:15%;margin-top:20px;font-family:arial;font-size:15px;color:Black;text-decoration:none;" href="http://itunes.apple.com/us/app/vida-video-file-manager-for-clouds/id1186154808?mt=8" >
      <img style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);height:80px; width:80px;border-radius:20%;" align="left" src="https://onuniverse-assets.imgix.net/EEF0E6F2-F52A-48AC-9423-1A40A2906EE7.jpg?w=200&q=40&dpr=1">Vida Video File</a>
      <p style="margin-left:35%;margin-top:20px;font-family:arial;font-size:12px;color:Black;text-decoration:none;">Video DL</p>
    </div>
    <center><h1 style="border-bottom:solid;border-bottom-width:thin;border-bottom-color:Black;width:90%;margin-left:10%;"></h1></center>
    <div style="margin-bottom:30px;margin-left:10px;"  id="item">
    <a style="margin-left:15%;margin-top:20px;font-family:arial;font-size:15px;color:Black;text-decoration:none;" href="http://itunes.apple.com/us/app/isavedl-saver-videos-audios/id1360635018?mt=8m" >
      <img style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);height:80px; width:80px;border-radius:20%;" align="left" src="https://onuniverse-assets.imgix.net/4766F2A1-7325-4622-9F51-E1BBFB85B11B.jpg?w=200&q=40&dpr=1">iSaveDL</a>
      <p style="margin-left:35%;margin-top:20px;font-family:arial;font-size:12px;color:Black;text-decoration:none;">Video DL</p>
    </div>
    <center><h1 style="border-bottom:solid;border-bottom-width:thin;border-bottom-color:Black;width:90%;margin-left:10%;"></h1></center>
    <div style="margin-bottom:30px;margin-left:10px;"  id="item">
    <a style="margin-left:15%;margin-top:20px;font-family:arial;font-size:15px;color:Black;text-decoration:none;" href="http://itunes.apple.com/us/app/turbodl-video-saver/id1362404072?mt=8" >
      <img style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);height:80px; width:80px;border-radius:20%;" align="left" src="https://onuniverse-assets.imgix.net/97D0A550-8812-409C-A881-4D9B55F1C113.jpg?w=200&q=40&dpr=1">turbodl Vidio Saver</a>
      <p style="margin-left:35%;margin-top:20px;font-family:arial;font-size:12px;color:Black;text-decoration:none;">Video DL</p>
    </div>
    <center><h1 style="border-bottom:solid;border-bottom-width:thin;border-bottom-color:Black;width:90%;margin-left:10%;"></h1></center>
    <div style="margin-bottom:30px;margin-left:10px;"  id="item">
    <a style="margin-left:15%;margin-top:20px;font-family:arial;font-size:15px;color:Black;text-decoration:none;" href="http://itunes.apple.com/us/app/foxfm-file-manager/id1342763352?mt=8" >
      <img style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);height:80px; width:80px;border-radius:20%;" align="left" src="https://onuniverse-assets.imgix.net/E819FFE8-0D15-482E-B401-7DB2CB860118.jpg?w=200&q=40&dpr=1">Foxfm</a>
      <p style="margin-left:35%;margin-top:20px;font-family:arial;font-size:12px;color:Black;text-decoration:none;">Video DL</p>
    </div>
    <center><h1 style="border-bottom:solid;border-bottom-width:thin;border-bottom-color:Black;width:90%;margin-left:10%;"></h1></center>
    <div style="margin-bottom:30px;margin-left:10px;"  id="item">
    <a style="margin-left:15%;margin-top:20px;font-family:arial;font-size:15px;color:Black;text-decoration:none;" href="http://itunes.apple.com/gb/app/total-free-browser-file-manager-cloud-storage-support/id557285579?mt=8" >
      <img style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);height:80px; width:80px;border-radius:20%;" align="left" src="https://onuniverse-assets.imgix.net/0C9BF250-967F-4982-97ED-2EDC81C6072B.jpg?w=200&q=40&dpr=1">Total</a>
      <p style="margin-left:35%;margin-top:20px;font-family:arial;font-size:12px;color:Black;text-decoration:none;">Video DL</p>
    </div>
    <center><h1 style="border-bottom:solid;border-bottom-width:thin;border-bottom-color:Black;width:90%;margin-left:10%;"></h1></center>
    <div style="margin-bottom:30px;margin-left:10px;"  id="item">
    <a style="margin-left:15%;margin-top:20px;font-family:arial;font-size:15px;color:Black;text-decoration:none;" href="http://itunes.apple.com/us/app/titan-browser-cloud-file-vpn/id1256264596?mt=8" >
      <img style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);height:80px; width:80px;border-radius:20%;" align="left" src="https://onuniverse-assets.imgix.net/7EA79546-D21E-4B53-9F0E-208C24FE9929.jpg?w=200&q=40&dpr=1">Titan</a>
      <p style="margin-left:35%;margin-top:20px;font-family:arial;font-size:12px;color:Black;text-decoration:none;">Video DL</p>
    </div>
    <center><h1 style="border-bottom:solid;border-bottom-width:thin;border-bottom-color:Black;width:90%;margin-left:10%;"></h1></center>
    <div style="margin-bottom:30px;margin-left:10px;"  id="item">
    <a style="margin-left:15%;margin-top:20px;font-family:arial;font-size:15px;color:Black;text-decoration:none;" href="http://itunes.apple.com/us/app/music-play-stream-player/id1367428369?mt=8" >
      <img style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);height:80px; width:80px;border-radius:20%;" align="left" src="https://onuniverse-assets.imgix.net/4737507F-9425-4318-8517-851A849E4D30.jpg?w=200&q=40&dpr=1">Play Streamer</a>
      <p style="margin-left:35%;margin-top:20px;font-family:arial;font-size:12px;color:Black;text-decoration:none;">Video DL</p>
    </div>
    <center><h1 style="border-bottom:solid;border-bottom-width:thin;border-bottom-color:Black;width:90%;margin-left:10%;"></h1></center>
    <div style="margin-bottom:30px;margin-left:10px;"  id="item">
    <a style="margin-left:15%;margin-top:20px;font-family:arial;font-size:15px;color:Black;text-decoration:none;" href="http://itunes.apple.com/gb/app/video-saver-save-video-video-player-lite/id1256837387?mt=8" >
      <img style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);height:80px; width:80px;border-radius:20%;" align="left" src="https://onuniverse-assets.imgix.net/D17112A8-BB61-4126-B36E-14419A4B0ACC.jpg?w=200&q=40&dpr=1">Video Saver</a>
      <p style="margin-left:35%;margin-top:20px;font-family:arial;font-size:12px;color:Black;text-decoration:none;">Video DL</p>
      </div>
    <center><h1 style="border-bottom:solid;border-bottom-width:thin;border-bottom-color:Black;width:90%;margin-left:10%;"></h1></center>
    <div style="margin-bottom:30px;margin-left:10px;"  id="item">
    <a style="margin-left:15%;margin-top:20px;font-family:arial;font-size:15px;color:Black;text-decoration:none;" href="http://itunes.apple.com/gb/app/dmanager-browser-documents/id1091150912?mt=8" >
      <img style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);height:80px; width:80px;border-radius:20%;" align="left" src="https://onuniverse-assets.imgix.net/4B04E2AC-7F17-4D33-8DF3-442DE73325D5.jpg?w=600&q=40&dpr=2">DManager</a>
      <p style="margin-left:35%;margin-top:20px;font-family:arial;font-size:12px;color:Black;text-decoration:none;">Video DL</p>
      </div>
    <center><h1 style="border-bottom:solid;border-bottom-width:thin;border-bottom-color:Black;width:90%;margin-left:10%;"></h1></center>
    <div style="margin-bottom:30px;margin-left:10px;"  id="item">
    <a style="margin-left:15%;margin-top:20px;font-family:arial;font-size:15px;color:Black;text-decoration:none;" href="http://itunes.apple.com/gb/app/ivideo-player-hd/id956458999?mt=8" >
      <img style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);height:80px; width:80px;border-radius:20%;" align="left" src="https://onuniverse-assets.imgix.net/C830B728-D411-4783-8D37-F4EB36E9CB18.jpg?w=400&q=40&dpr=2">iVideo Player</a>
      <p style="margin-left:35%;margin-top:20px;font-family:arial;font-size:12px;color:Black;text-decoration:none;">Video DL</p>
      </div>
    <center><h1 style="border-bottom:solid;border-bottom-width:thin;border-bottom-color:Black;width:90%;margin-left:10%;"></h1></center>
    <div style="margin-bottom:30px;margin-left:10px;"  id="item">
    <a style="margin-left:15%;margin-top:20px;font-family:arial;font-size:15px;color:Black;text-decoration:none;" href="https://itunes.apple.com/gb/app/bananavideo/id1342050228?mt=8" >
      <img style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);height:80px; width:80px;border-radius:20%;" align="left" src="https://onuniverse-assets.imgix.net/C4684174-76A3-47FE-82D1-5D8180459970.jpg?w=600&q=40&dpr=2">BananaVideo - @Bo0M_h4ckz</a>
      <p style="margin-left:35%;margin-top:20px;font-family:arial;font-size:12px;color:Black;text-decoration:none;">Video DL</p>
      </div>
    <center><h1 style="border-bottom:solid;border-bottom-width:thin;border-bottom-color:Black;width:90%;margin-left:10%;"></h1></center>
    <div style="margin-bottom:30px;margin-left:10px;"  id="item">
    <a style="margin-left:15%;margin-top:20px;font-family:arial;font-size:15px;color:Black;text-decoration:none;" href="https://itunes.apple.com/gb/app/video-manager-offline-play/id1349078968?mt=8" >
      <img style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);height:80px; width:80px;border-radius:20%;" align="left" src="https://onuniverse-assets.imgix.net/663A0413-C817-45D9-875E-8AA73BF1D1A6.jpg?w=400&q=40&dpr=2">Video Manager</a>
      <p style="margin-left:35%;margin-top:20px;font-family:arial;font-size:12px;color:Black;text-decoration:none;">Video DL</p>
      </div>
    <center><h1 style="border-bottom:solid;border-bottom-width:thin;border-bottom-color:Black;width:90%;margin-left:10%;"></h1></center>
    <div style="margin-bottom:30px;margin-left:10px;"  id="item">
    <a style="margin-left:15%;margin-top:20px;font-family:arial;font-size:15px;color:Black;text-decoration:none;" href="https://itunes.apple.com/gb/app/%D8%AD%D9%85-%D9%84/id1137509279?mt=8" >
      <img style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);height:80px; width:80px;border-radius:20%;" align="left" src="https://onuniverse-assets.imgix.net/D351BFAE-73CD-42E1-AA9A-3F01AEDB4EBA.jpg?w=400&q=40&dpr=2">حمِّل</a>
      <p style="margin-left:35%;margin-top:20px;font-family:arial;font-size:12px;color:Black;text-decoration:none;">Video DL</p>
      </div>
    <center><h1 style="border-bottom:solid;border-bottom-width:thin;border-bottom-color:Black;width:90%;margin-left:10%;"></h1></center>
    <div style="margin-bottom:30px;margin-left:10px;"  id="item">
    <a style="margin-left:15%;margin-top:20px;font-family:arial;font-size:15px;color:Black;text-decoration:none;" href="https://itunes.apple.com/gb/app/%D8%A7%D9%84%D8%B0%D8%A6%D8%A8/id1361518077?mt=8" >
      <img style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);height:80px; width:80px;border-radius:20%;" align="left" src="https://onuniverse-assets.imgix.net/7E4184B1-18CD-4C42-9EC4-4252E4667133.jpg?w=400&q=40&dpr=2">الذئب</a>
      <p style="margin-left:35%;margin-top:20px;font-family:arial;font-size:12px;color:Black;text-decoration:none;">Video DL</p>
      </div>
    <center><h1 style="border-bottom:solid;border-bottom-width:thin;border-bottom-color:Black;width:90%;margin-left:10%;"></h1></center>
    <div style="margin-bottom:30px;margin-left:10px;"  id="item">
    <a style="margin-left:15%;margin-top:20px;font-family:arial;font-size:15px;color:Black;text-decoration:none;" href="https://itunes.apple.com/gb/app/pocketyoutube/id1326665546?mt=8" >
      <img style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);height:80px; width:80px;border-radius:20%;" align="left" src="https://onuniverse-assets.imgix.net/17F77CAE-6AA4-4D02-B6D3-083F16E09FAA.jpg?w=400&q=40&dpr=2">PocketYoutube</a>
      <p style="margin-left:35%;margin-top:20px;font-family:arial;font-size:12px;color:Black;text-decoration:none;">Video DL</p>
      </div>
    <center><h1 style="border-bottom:solid;border-bottom-width:thin;border-bottom-color:Black;width:90%;margin-left:10%;"></h1></center>
    <div style="margin-bottom:30px;margin-left:10px;"  id="item">
    <a style="margin-left:15%;margin-top:20px;font-family:arial;font-size:15px;color:Black;text-decoration:none;" href="https://itunes.apple.com/gb/app/doda/id1378071560?mt=8" >
      <img style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);height:80px; width:80px;border-radius:20%;" align="left" src="https://onuniverse-assets.imgix.net/CD96DF7A-4DA2-43D6-9974-96C8EEEE3323.jpg?w=200&q=40&dpr=2">DoDa+</a>
      <p style="margin-left:35%;margin-top:20px;font-family:arial;font-size:12px;color:Black;text-decoration:none;">Video DL</p>
      </div>
    <center><h1 style="border-bottom:solid;border-bottom-width:thin;border-bottom-color:Black;width:90%;margin-left:10%;"></h1></center>
    <div style="margin-bottom:30px;margin-left:10px;"  id="item">
    <a style="margin-left:15%;margin-top:20px;font-family:arial;font-size:15px;color:Black;text-decoration:none;" href="https://itunes.apple.com/us/app/aloha-browser-private-fast/id1105317682?mt=8" >
      <img style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);height:80px; width:80px;border-radius:20%;" align="left" src="https://onuniverse-assets.imgix.net/4084B721-BEAE-43DE-801E-912EE88D4214.jpg?w=200&q=40&dpr=2">Aloha - @Anth0nyM0reland</a>
      <p style="margin-left:35%;margin-top:20px;font-family:arial;font-size:12px;color:Black;text-decoration:none;">Video DL</p>
      </div>
    <center><h1 style="border-bottom:solid;border-bottom-width:thin;border-bottom-color:Black;width:90%;margin-left:10%;"></h1></center>
    <div style="margin-bottom:30px;margin-left:10px;"  id="item">
    <a style="margin-left:15%;margin-top:20px;font-family:arial;font-size:15px;color:Black;text-decoration:none;" href="https://itunes.apple.com/us/app/free-downloader-for-web-browser-to-download-files/id1011195914?mt=8" >
      <img style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);height:80px; width:80px;border-radius:20%;" align="left" src="https://onuniverse-assets.imgix.net/4B26D56B-41B3-4D33-A5C1-DA60F7DACF25.jpg?w=200&q=40&dpr=2">Free WebDownloader</a>
      <p style="margin-left:35%;margin-top:20px;font-family:arial;font-size:12px;color:Black;text-decoration:none;">Video DL</p>
      </div>
    <center><h1 style="border-bottom:solid;border-bottom-width:thin;border-bottom-color:Black;width:90%;margin-left:10%;"></h1></center>
    <div style="margin-bottom:30px;margin-left:10px;"  id="item">
    <a style="margin-left:15%;margin-top:20px;font-family:arial;font-size:15px;color:Black;text-decoration:none;" href="https://itunes.apple.com/us/app/offline-files-web-browser/id1282267034?mt=8" >
      <img style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);height:80px; width:80px;border-radius:20%;" align="left" src="https://onuniverse-assets.imgix.net/BA54232B-F12D-43EE-B2DF-9AD5C0AD742D.jpg?w=200&q=40&dpr=2">Offline - File&Web</a>
      <p style="margin-left:35%;margin-top:20px;font-family:arial;font-size:12px;color:Black;text-decoration:none;">Video DL</p>
      </div>
    <center><h1 style="border-bottom:solid;border-bottom-width:thin;border-bottom-color:Black;width:90%;margin-left:10%;"></h1></center>
    <div style="margin-bottom:30px;margin-left:10px;"  id="item">
    <a style="margin-left:15%;margin-top:20px;font-family:arial;font-size:15px;color:Black;text-decoration:none;" href="https://itunes.apple.com/us/app/qwe/id935520103?mt=8" >
      <img style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);height:80px; width:80px;border-radius:20%;" align="left" src="https://onuniverse-assets.imgix.net/CF270975-58A8-46FD-A0B9-51BA898BCA52.jpg?w=200&q=40&dpr=2">QWE</a>
      <p style="margin-left:35%;margin-top:20px;font-family:arial;font-size:12px;color:Black;text-decoration:none;">Video DL</p>
      </div>
    <center><h1 style="border-bottom:solid;border-bottom-width:thin;border-bottom-color:Black;width:90%;margin-left:10%;"></h1></center>
    <div style="margin-bottom:30px;margin-left:10px;"  id="item">
    <a style="margin-left:15%;margin-top:20px;font-family:arial;font-size:15px;color:Black;text-decoration:none;" href="https://itunes.apple.com/us/app/offline-files-web-browser/id1083382404?mt=8" >
      <img style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);height:80px; width:80px;border-radius:20%;" align="left" src="https://onuniverse-assets.imgix.net/75640837-7B94-447A-B3ED-6E720F1B300B.jpg?w=200&q=40&dpr=2">Offline file/Web</a>
      <p style="margin-left:35%;margin-top:20px;font-family:arial;font-size:12px;color:Black;text-decoration:none;">Video DL</p>
      </div>
    <center><h1 style="border-bottom:solid;border-bottom-width:thin;border-bottom-color:Black;width:90%;margin-left:10%;"></h1></center>
    <div style="margin-bottom:30px;margin-left:10px;"  id="item">
    <a style="margin-left:15%;margin-top:20px;font-family:arial;font-size:15px;color:Black;text-decoration:none;" href="https://itunes.apple.com/us/app/browser-file-manager/id475190096?mt=8" >
      <img style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);height:80px; width:80px;border-radius:20%;" align="left" src="https://onuniverse-assets.imgix.net/4079BADE-6FCC-4ED4-A0CE-FD260C4A6AE2.jpg?w=200&q=40&dpr=2">Browser&File Manager</a>
      <p style="margin-left:35%;margin-top:20px;font-family:arial;font-size:12px;color:Black;text-decoration:none;">Video DL</p>
      </div>
    <center><h1 style="border-bottom:solid;border-bottom-width:thin;border-bottom-color:Black;width:90%;margin-left:10%;"></h1></center>
    <div style="margin-bottom:30px;margin-left:10px;"  id="item">
    <a style="margin-left:15%;margin-top:20px;font-family:arial;font-size:15px;color:Black;text-decoration:none;" href="https://itunes.apple.com/gb/app/video-saver-pro-360-from-wifi/id1084635956?mt=8" >
      <img style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);height:80px; width:80px;border-radius:20%;" align="left" src="https://onuniverse-assets.imgix.net/7FAB650C-D7E8-4E9C-B2CF-D09EC8E89612.jpg?w=200&q=40&dpr=2">VideoSaver Pro 360</a>
      <p style="margin-left:35%;margin-top:20px;font-family:arial;font-size:12px;color:Black;text-decoration:none;">Video DL</p>
      </div>
    <center><h1 style="border-bottom:solid;border-bottom-width:thin;border-bottom-color:Black;width:90%;margin-left:10%;"></h1></center>
    <div style="margin-bottom:30px;margin-left:10px;"  id="item">
    <a style="margin-left:15%;margin-top:20px;font-family:arial;font-size:15px;color:Black;text-decoration:none;" href="https://itunes.apple.com/gb/app/video-vault-photo-downloader-for-private-cloud/id1161223832?mt=8" >
      <img style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);height:80px; width:80px;border-radius:20%;" align="left" src="https://onuniverse-assets.imgix.net/37F99AE2-8799-48B5-AAD8-E5050678459A.jpg?w=200&q=40&dpr=2">VideoVault</a>
      <p style="margin-left:35%;margin-top:20px;font-family:arial;font-size:12px;color:Black;text-decoration:none;">Video DL</p>
      </div>
    <center><h1 style="border-bottom:solid;border-bottom-width:thin;border-bottom-color:Black;width:90%;margin-left:10%;"></h1></center>
    <div style="margin-bottom:30px;margin-left:10px;"  id="item">
    <a style="margin-left:15%;margin-top:20px;font-family:arial;font-size:15px;color:Black;text-decoration:none;" href="https://itunes.apple.com/gb/app/downloader-pro-multitab-browser-downloader/id1237716421?mt=8" >
      <img style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);height:80px; width:80px;border-radius:20%;" align="left" src="https://onuniverse-assets.imgix.net/1FA88B70-5D2B-400F-89D0-A6C12DBBC82D.jpg?w=200&q=40&dpr=2">DownloaderPro</a>
      <p style="margin-left:35%;margin-top:20px;font-family:arial;font-size:12px;color:Black;text-decoration:none;">Video DL</p>
      </div>
    <center><h1 style="border-bottom:solid;border-bottom-width:thin;border-bottom-color:Black;width:90%;margin-left:10%;"></h1></center>
    <div style="margin-bottom:30px;margin-left:10px;"  id="item">
    <a style="margin-left:15%;margin-top:20px;font-family:arial;font-size:15px;color:Black;text-decoration:none;" href="https://itunes.apple.com/gb/app/video-get-pro-private-editor/id1038845112?mt=8" >
      <img style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);height:80px; width:80px;border-radius:20%;" align="left" src="https://onuniverse-assets.imgix.net/77983E55-31F5-45E8-927F-E5689909A71D.jpg?w=200&q=40&dpr=2">VideoGetPro</a>
      <p style="margin-left:35%;margin-top:20px;font-family:arial;font-size:12px;color:Black;text-decoration:none;">Video DL</p>
      </div>
    <center><h1 style="border-bottom:solid;border-bottom-width:thin;border-bottom-color:Black;width:90%;margin-left:10%;"></h1></center>
    <div style="margin-bottom:30px;margin-left:10px;"  id="item">
    <a style="margin-left:15%;margin-top:20px;font-family:arial;font-size:15px;color:Black;text-decoration:none;" href="https://itunes.apple.com/gb/app/xdownload-lite/id476509045?mt=8" >
      <img style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);height:80px; width:80px;border-radius:20%;" align="left" src="https://onuniverse-assets.imgix.net/0821AFC2-BDA4-4200-9FA0-53AAEF8B111D.jpg?w=200&q=40&dpr=2">xDownload</a>
      <p style="margin-left:35%;margin-top:20px;font-family:arial;font-size:12px;color:Black;text-decoration:none;">Video DL</p>
      
      </div>
    <center><h1 style="border-bottom:solid;border-bottom-width:thin;border-bottom-color:Black;width:100%;"></h1></center>
    </div>

  </ion-content>
</ion-view>
