<ion-view title="Youtubers" id="page12" class="nav1">
  <ion-content padding="false" class="has-header">

    <center><img style="width:60%; margin:10px;" src="https://onuniverse-assets.imgix.net/3070C54C-17B6-4CC4-A340-B48908703199.jpg?w=1000&q=40&dpr=1"></img></center>

  <br>

  <div >
  <center><h1 style="border-bottom:solid;border-bottom-width:thin;border-bottom-color:Black;width:100%;"></h1></center>

  <div style="margin-bottom:30px;margin-left:10px;"  id="item">
    <a style="margin-left:15%;margin-top:20px;font-family:arial;font-size:15px;color:Darkblue;text-decoration:none;" href="https://www.youtube.com/watch?v=UcnxhAdilxU" >
      <img style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);height:80px; width:80px;border-radius:20%;" align="left" src="https://onuniverse-assets.imgix.net/8C62D7ED-E0B4-47D1-AF6B-77437733F37B.jpg?w=400&q=40&dpr=1">GaM3ChangeRs</a>
      <p style="margin-left:35%;margin-top:20px;font-family:arial;font-size:12px;color:Red;text-decoration:none;">YouTubers</p>
  </div>
  <center><h1 style="border-bottom:solid;border-bottom-width:thin;border-bottom-color:Black;width:90%;margin-left:10%;"></h1></center>
  <div style="margin-bottom:30px;margin-left:10px;"  id="item">
    <a style="margin-left:15%;margin-top:20px;font-family:arial;font-size:15px;color:Purple;text-decoration:none;" href="https://www.youtube.com/watch?v=ku6BHsYZA5g" >
      <img style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);height:80px; width:80px;border-radius:20%;" align="left" src="https://onuniverse-assets.imgix.net/1024AA27-D3F9-4DB5-BB32-4E7B0425A94B.jpg?w=400&q=40&dpr=1">TechnoTrend</a>
      <p style="margin-left:35%;margin-top:20px;font-family:arial;font-size:12px;color:Red;text-decoration:none;">YouTubers</p>
  </div>
  <center><h1 style="border-bottom:solid;border-bottom-width:thin;border-bottom-color:Black;width:90%;margin-left:10%;"></h1></center>
  <div style="margin-bottom:30px;margin-left:10px;"  id="item">
    <a style="margin-left:15%;margin-top:20px;font-family:arial;font-size:15px;color:Black;text-decoration:none;" href="https://www.youtube.com/watch?v=1jvlbf6zjgw" >
      <img style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);height:80px; width:80px;border-radius:20%;" align="left" src="https://onuniverse-assets.imgix.net/9199E4F3-5ACD-4A53-B78D-AD4E82D38DB3.jpg?w=400&q=40&dpr=1">Mr R</a>
      <p style="margin-left:35%;margin-top:20px;font-family:arial;font-size:12px;color:Red;text-decoration:none;">YouTubers</p>
  </div>
  <center><h1 style="border-bottom:solid;border-bottom-width:thin;border-bottom-color:Black;width:90%;margin-left:10%;"></h1></center>
  <div style="margin-bottom:30px;margin-left:10px;"  id="item">
    <a style="margin-left:15%;margin-top:20px;font-family:arial;font-size:15px;color:Purple;text-decoration:none;" href="https://www.youtube.com/watch?v=WKvDNw-t4EI" >
      <img style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);height:80px; width:80px;border-radius:20%;" align="left" src="https://onuniverse-assets.imgix.net/84C7F7C0-0592-438E-8908-AA613895374E.jpg?w=400&q=40&dpr=1">All I Talk Is Tech</a>
      <p style="margin-left:35%;margin-top:20px;font-family:arial;font-size:12px;color:Red;text-decoration:none;">YouTubers</p>
  </div>
  <center><h1 style="border-bottom:solid;border-bottom-width:thin;border-bottom-color:Black;width:90%;margin-left:10%;"></h1></center>
  <div style="margin-bottom:30px;margin-left:10px;"  id="item">
    <a style="margin-left:15%;margin-top:20px;font-family:arial;font-size:15px;color:Darkorange;text-decoration:none;" href="https://www.youtube.com/watch?v=vKtpo8aHV2w" >
      <img style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);height:80px; width:80px;border-radius:20%;" align="left" src="https://onuniverse-assets.imgix.net/CE83B65D-9B6B-4A2E-A4A9-160EA9186618.jpg?w=400&q=40&dpr=1">Casp</a>
      <p style="margin-left:35%;margin-top:20px;font-family:arial;font-size:12px;color:Red;text-decoration:none;">YouTubers</p>
  </div>
  <center><h1 style="border-bottom:solid;border-bottom-width:thin;border-bottom-color:Black;width:90%;margin-left:10%;"></h1></center>
  <div style="margin-bottom:30px;margin-left:10px;"  id="item">
    <a style="margin-left:15%;margin-top:20px;font-family:arial;font-size:15px;color:Blue;text-decoration:none;" href="https://www.youtube.com/watch?v=j5qQnoQwPHo" >
      <img style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);height:80px; width:80px;border-radius:20%;" align="left" src="https://onuniverse-assets.imgix.net/47F5A865-BBCB-4D78-8BA5-A82C80DDB074.jpg?w=400&q=40&dpr=1">OlyAxe.S</a>
      <p style="margin-left:35%;margin-top:20px;font-family:arial;font-size:12px;color:Red;text-decoration:none;">YouTubers</p>
  </div>
  <center><h1 style="border-bottom:solid;border-bottom-width:thin;border-bottom-color:Black;width:90%;margin-left:10%;"></h1></center>
  <div style="margin-bottom:30px;margin-left:10px;"  id="item">
    <a style="margin-left:15%;margin-top:20px;font-family:arial;font-size:15px;color:Green;text-decoration:none;" href="https://www.youtube.com/watch?v=TmkH3aMybhk" >
      <img style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);height:80px; width:80px;border-radius:20%;" align="left" src="https://onuniverse-assets.imgix.net/B83785C8-BAE5-4111-A40B-E3A248FF7DA6.jpg?w=400&q=40&dpr=1">AppleTechVideo</a>
      <p style="margin-left:35%;margin-top:20px;font-family:arial;font-size:12px;color:Red;text-decoration:none;">YouTubers</p>
      </div>
  <center><h1 style="border-bottom:solid;border-bottom-width:thin;border-bottom-color:Black;width:90%;margin-left:10%;"></h1></center>
  <div style="margin-bottom:30px;margin-left:10px;"  id="item">
    <a style="margin-left:15%;margin-top:20px;font-family:arial;font-size:15px;color:Black;text-decoration:none;" href="https://www.youtube.com/channel/UCtwmOFs6bdvhB0XMdODue9A" >
      <img style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);height:80px; width:80px;border-radius:20%;" align="left" src="https://onuniverse-assets.imgix.net/7D6E7ACC-6767-4DC1-BE9F-F612E21DEBD9.jpg?w=200&q=40&dpr=2">iAppleTuber</a>
      <p style="margin-left:35%;margin-top:20px;font-family:arial;font-size:12px;color:Red;text-decoration:none;">YouTubers</p>
  </div>
  <center><h1 style="border-bottom:solid;border-bottom-width:thin;border-bottom-color:Black;width:90%;margin-left:10%;"></h1></center>
  <div style="margin-bottom:30px;margin-left:10px;"  id="item">
    <a style="margin-left:15%;margin-top:20px;font-family:arial;font-size:15px;color:Gold;text-decoration:none;" href="https://www.youtube.com/watch?v=xdYRTDCg2A0" >
      <img style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);height:80px; width:80px;border-radius:20%;" align="left" src="https://onuniverse-assets.imgix.net/33C2BC7F-5CA9-45FC-9B57-5757416A250C.jpg?w=400&q=40&dpr=1">DinoZambas D7</a>
      <p style="margin-left:35%;margin-top:20px;font-family:arial;font-size:12px;color:Red;text-decoration:none;">YouTubers</p>
  </div>
  <center><h1 style="border-bottom:solid;border-bottom-width:thin;border-bottom-color:Black;width:90%;margin-left:10%;"></h1></center>
  <div style="margin-bottom:30px;margin-left:10px;"  id="item">
    <a style="margin-left:15%;margin-top:20px;font-family:arial;font-size:15px;color:DarkRed;text-decoration:none;" href="https://www.youtube.com/watch?v=TT26VW3Musw" >
      <img style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);height:80px; width:80px;border-radius:20%;" align="left" src="https://onuniverse-assets.imgix.net/70D2BF0D-F2E3-4E87-BEDE-07F6801EC5F8.jpg?w=400&q=40&dpr=1">iReviews</a>
      <p style="margin-left:35%;margin-top:20px;font-family:arial;font-size:12px;color:Red;text-decoration:none;">YouTubers</p>
      </div>
  <center><h1 style="border-bottom:solid;border-bottom-width:thin;border-bottom-color:Black;width:90%;margin-left:10%;"></h1></center>
  <div style="margin-bottom:30px;margin-left:10px;"  id="item">
    <a style="margin-left:15%;margin-top:20px;font-family:arial;font-size:15px;color:Red;text-decoration:none;" href="https://m.youtube.com/channel/UCWqmjNhOpvo7W8l_4Q9BNQg" >
      <img style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);height:80px; width:80px;border-radius:20%;" align="left" src="https://onuniverse-assets.imgix.net/EE414915-2D2C-4653-B606-0B872A7FA290.jpg?w=200&q=40&dpr=2">TechSavagePro</a>
      <p style="margin-left:35%;margin-top:20px;font-family:arial;font-size:12px;color:Red;text-decoration:none;">YouTubers</p>
      </div>
  <center><h1 style="border-bottom:solid;border-bottom-width:thin;border-bottom-color:Black;width:90%;margin-left:10%;"></h1></center>
  <div style="margin-bottom:30px;margin-left:10px;"  id="item">
    <a style="margin-left:15%;margin-top:20px;font-family:arial;font-size:15px;color:Lightblue;text-decoration:none;" href="https://www.youtube.com/user/TheNightmaresslayer" >
      <img style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);height:80px; width:80px;border-radius:20%;" align="left" src="https://onuniverse-assets.imgix.net/5E574F7D-72D4-4C4A-A095-80F2C0016AA7.jpg?w=200&q=40&dpr=2">AppleTechStop</a>
      <p style="margin-left:35%;margin-top:20px;font-family:arial;font-size:12px;color:Red;text-decoration:none;">YouTubers</p>
  </div>
  <center><h1 style="border-bottom:solid;border-bottom-width:thin;border-bottom-color:Black;width:100%;"></h1></center>
  </div>

  </ion-content>
</ion-view>
